{% extends "perfil_taller/padre_perfil_taller.html" %}
{% load static %}

{% block contenidoQueCambia %}
<style>
    form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form label span {
    flex-grow: 1;
}

form label input[type="number"] {
    max-width: 100px;
    text-align: right;
}
</style>
<div class="table-container" id="inventarios">
    <div class="form-container" id="motoForm">
        <h2>Modificación hoja membretada</h4>
        {% if messages %}
        <div class="messages">
            <div class="alert alert alert-success">{{ message }}</div>
        </div>
        {% endif %}
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        <!-- Formulario de búsqueda de cliente -->
         
    
        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %} 
            <div class="mb-3">
                <label for="marca" class="form-label">Título</label>
                <input value="{{ titulo }}" type="text" class="form-control" name="titulo_hm" placeholder="Ingrese el título de la hoja membretada" maxlength="300">
            </div>   
            <div class="mb-3">
                <label for="precio" class="form-label">Texto</label>
                <textarea class="form-control" name="anotaciones" id="descripcion" placeholder="Texto de la hoja membretada" rows="3">{{ texto }}</textarea>
            </div> 
            <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'HojasPresupuestales' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
{% endblock %}