{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
<style>
    .descripcion-celda {
        max-width: 300px;
        white-space: normal;
        word-wrap: break-word;
        overflow-y: auto;
        max-height: 150px;
    }
    .imagen-accesorio {
        display: block;
        max-width: 300px;
        max-height: 200px;
        margin-bottom: 20px;
        border-radius: 8px;
        object-fit: cover;
    }
</style>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}
<div class="table-container" id="clienteDetails">
    <h1>Ficha del cliente</h1>
    <h4>Datos personales</h4>
    <p>{{ prueba }}</p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Cliente</th>
                <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
            </tr>
            <tr>
                <th scope="row">Documento</th>
                <td>{{ cliente.documento }}</td>
            </tr>
            <tr>
                <th scope="row">Contacto</th>
                <td>{{ tel1 }}{% if tel2 %}, {{ tel2 }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Correo</th>
                <td>{{ correo1 }}{% if correo2 %}, {{ correo2 }}{% endif %}</td>
            </tr>
          
            <tr>
                <th scope="row">Domicilio</th>
                <td>{{ cliente.calle }} {{ cliente.numero }}{% if cliente.num_apartamento != 0 %} Apto {{ cliente.num_apartamento }}, {% else %}, {% endif %} {{ cliente.ciudad }} </td>
            </tr>
        </tbody>
    </table>
    <h4>Motos</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="row">Detalles</th>
                <th scope="row">Fecha</th>
               
                <th scope="row">Documentacion</th>
         
                <th scope="row">Acciones</th>
             
              
            </tr>
        </thead>
        <tbody>
            {% if page_obj %}
                {% for item in page_obj %}
                    <tr>
                        <td>{{ item.moto.moto__marca }} {{ item.moto.moto__modelo }}</td>
                        <td>{{ item.moto.fecha_compra }}</td>
                        
                        <td>
                            {% if item.libreta or item.compra_venta or item.certificado_venta %}
                                {% if item.libreta %}
                                    <a href="{{ item.libreta }}" target="_blank">
                                        <button class="btn btn-sm btn-primary" title="Ver Fotocopia de Libreta">
                                            <i class="fas fa-file-alt"></i> Libreta
                                        </button>
                                    </a>
                                {% endif %}
                                {% if item.compra_venta %}
                                    <a href="{{ item.compra_venta }}" target="_blank">
                                        <button class="btn btn-sm btn-success" title="Ver Documento de Compra-Venta">
                                            <i class="fas fa-file-contract"></i> Compra-Venta
                                        </button>
                                    </a>
                                {% endif %}
                                {% if item.certificado_venta %}
                                    <a href="{{ item.certificado_venta }}" target="_blank">
                                        <button class="btn btn-sm btn-secondary" title="Ver Certificado de Venta">
                                            <i class="fas fa-certificate"></i> Certificado
                                        </button>
                                    </a>
                                {% endif %}

                            {% else %}
                                <p>SIN DOCUMENTACION</p>
                            {% endif %}
                            
                        </td>
                        <td>
                        <a href="{% url 'DetallesCuotas' item.moto.id %}"><button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button></a>
                        {% if not item.certificado_venta %}
                        <button class="btn btn-sm btn-warning" onclick="toggleFormulario('{{ forloop.counter }}')"><i class="fas fa-upload"></i> Certificado</button>
                        {% endif %}
                        {% if not item.libreta %}
                        <button class="btn btn-sm btn-warning" onclick="toggleLibreta('{{ forloop.counter }}')">
                            <i class="fas fa-book"></i> Libreta
                        </button>
                        {% endif %}
                        </td>
                    </tr>
                    <tr id="formulario-certificado-{{ forloop.counter }}" style="display: none;"  class="formulario-certificado">
                        <td colspan="4">
                            <form method="post" enctype="multipart/form-data" action="{% url 'CargarCertificado' item.moto.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="certificado" class="form-label">Subir certificado:</label>
                                    <input type="file" class="form-control" id="certificado" name="certificado_venta" required>
                                </div>
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button type="button" class="btn btn-secondary" onclick="toggleFormulario('{{ forloop.counter }}')">Cancelar</button>
                            </form>
                        </td>
                    </tr>
                    <tr id="formulario-libreta-{{ forloop.counter }}" style="display: none;"  class="formulario-libreta">
                        <td colspan="4">
                            <form method="post" enctype="multipart/form-data" action="{% url 'CargarLibreta' item.moto.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="certificado" class="form-label">Subir libreta:</label>
                                    <input type="file" class="form-control" id="libreta" name="libreta_venta" required>
                                </div>
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button type="button" class="btn btn-secondary" onclick="toggleLibreta('{{ forloop.counter }}')">Cancelar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de compras de motos.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <h4>Accesorios</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="row">Detalles</th>
                <th scope="row">Fecha</th>
                <!-- <th scope="row">Forma de pago</th>
                <th scope="row">Cuotas</th>
                <th scope="row">Monto</th> -->
                <th scope="row">Factura</th>
            </tr>
        </thead>
        <tbody>
            {% if page_obj_accesorio %}
                {% for item in page_obj_accesorio %}
                <tr>
                    <td>{{ item.accesorio.accesorio__tipo }} {{ item.accesorio.accesorio__marca }} {{ item.accesorio.accesorio__modelo }}</td>
                    <td>{{ item.accesorio.fecha_compra }}</td>
                   
                    <td>
                        {% if item.factura_documento %}
                        <a href="{{ item.factura_documento }}" target="_blank">
                            <button class="btn btn-sm btn-secondary" title="Ver Factura">
                                <i class="fas fa-certificate"></i> Factura
                            </button>
                        </a>
                        {% else %}
                        <p>SIN DOCUMENTACION</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de compras de accesorios.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'Clientes' %}" class="btn btn-secondary">Volver</a>
</div>
<script>
function toggleFormulario(id) {
        const formulario = document.getElementById(`formulario-certificado-${id}`);
        if (formulario.style.display === "none" || formulario.style.display === "") {
            formulario.style.display = "table-row";
        } else {
            formulario.style.display = "none";
        }
    }

    function toggleLibreta(id) {
        const formulario = document.getElementById(`formulario-libreta-${id}`);
        if (formulario.style.display === "none" || formulario.style.display === "") {
            formulario.style.display = "table-row";
        } else {
            formulario.style.display = "none";
        }
    }

</script>
{% endblock %}
