{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
<style>
    .descripcion-celda {
        max-width: 300px;
        white-space: normal;
        word-wrap: break-word;
        overflow-y: auto;
        max-height: 150px;
    }
    .imagen-accesorio {
        display: block;
        max-width: 300px;
        max-height: 200px;
        margin-bottom: 20px;
        border-radius: 8px;
        object-fit: cover;
    }

    .badge {
    display: inline-block;
    padding: 4px 8px;
    font-size: 0.875em;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
}

.badge-reserva {
    background-color: #cce5ff;
    color: #004085;
    border: 1px solid #b8daff;
}

.badge-venta {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
</style>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-3">
            {% if message.tags == "error" %}
                <i class="fas fa-exclamation-circle"></i>
            {% elif message.tags == "success" %}
                <i class="fas fa-check-circle"></i>
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="table-container" id="clienteDetails">
    <h1>Ficha del cliente</h1>
    <h4>Datos personales</h4>
    <p>{{ prueba }}</p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Cliente</th>
                <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
            </tr>
            <tr>
                <th scope="row">Documento</th>
                <td>{{ cliente.documento }}</td>
            </tr>
            <tr>
                <th scope="row">Contacto</th>
                <td>{{ tel1 }}{% if tel2 %}, {{ tel2 }}{% endif %}</td>
            </tr>
            <tr>
                <th scope="row">Correo</th>
                <td>{% if correo1 %}{{ correo1 }}{% if correo2 %}, {{ correo2 }}{% endif %} {% else %} El cliente no tiene correo {% endif %}</td>
            </tr>
          
            <tr>
                <th scope="row">Domicilio</th>
                <td>{{ cliente.domicilio }}</td>
            </tr>

            <tr>
                <th scope="row">Fondos en pesos</th>
                <td>$ {{ total_pesos }}</td>
            </tr>

            <tr>
                <th scope="row">Fondos en dolares</th>
                <td>U$S {{ total_dolares }}</td>
            </tr>
        </tbody>
    </table>
    <a onclick="mostrar_div_fondos()" class="btn btn-primary mb-3">
        <i class="fas fa-coins"></i> Fondos
    </a>
    <div id="fondos_cliente" style="display: none;">
        <form method="post" enctype="multipart/form-data" action="{% url 'FondosCliente' cliente.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="certificado" class="form-label">Tipo:</label>
                <select class="form-control" name="accion_fondo" id="tipo_mov" onchange="ocultar_en_form_fondos()">
                    <option value="Ingreso">Ingreso</option>
                    <option value="Retiro">Retiro</option>
                </select>
            </div>
            <div class="mb-3" id="forma_pago">
                <label for="documento" class="form-label">Metodo elegido</label>
                <div class="input-group">
                    <select class="form-control" name="metodo_elegido">
                        <option value="Efectivo">Efectivo</option>
                        <option value="Transferencia">Transferencia</option>
                        <option value="Débito">Débito</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="certificado" class="form-label">Moneda:</label>
                <select class="form-control" name="moneda_fondos" id="tipo_busqueda">
                    <option value="Pesos">Pesos</option>
                    <option value="Dolares">Dólares</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="certificado" class="form-label">Monto:</label>
                <input type="number" name="monto_fondos" class="form-control" placeholder="Monto" required>
            </div>
            <div class="mb-3" id="comprobante_pago">
                <label for="libreta_propiedad" class="form-label">Comprobante</label>
                <input type="file" class="form-control" name="comprobante_fondo">
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <a onclick="ocultar_div_fondos()"><button type="button" class="btn btn-secondary">Cancelar</button></a>
        </form>
        <br>
        <h4>Historial de depósitos</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row">Fecha</th>
                    <th scope="row">Tipo</th>
                    <th scope="row">Moneda</th>
                    <th scope="row">Metodo</th>
                    <th scope="row">Comprobante</th>
                    <th scope="row">Entrega/Retiro</th>
                    <th scope="row">Total pesos</th>
                    <th scope="row">Total dólares</th> 
                </tr>
            </thead>
            <tbody>
                {% if fondos %}
                    {% for fondo in fondos %}
                        <tr>
                            <td>
                                {{ fondo.fecha }}
                            </td>
                            <td>
                                {% if fondo.tipo == "Ingreso" %}
                                    <span class="badge bg-success">{{ fondo.tipo }}</span>
                                {% else %}
                                    <span class="badge bg-danger">{{ fondo.tipo }}</span>
                                {% endif %}
                                
                            </td>
                            <td>
                                {{ fondo.moneda }}
                            </td>
                            <td>
                                {% if fondo.tipo == "Ingreso" %}
                                {{ fondo.metodo }}
                                {% else %}
                                -------------
                                {% endif %}
                            </td>
                            <td>
                                {% if fondo.tipo == "Ingreso" %}
                                    {% if fondo.comprobante %}
                                        <a href="{{ fondo.comprobante.url }}" target="_blank" class="btn btn-primary">
                                            <i class="fas fa-file-alt"></i>
                                        </a>
                                    {% else %}
                                        <p>SIN COMPROBANTE</p>
                                    {% endif %}
                                {% else %}
                                -------------
                                {% endif %}
                            </td>
                            <td>
                                {% if fondo.moneda == "Pesos" %}
                                    {{ fondo.ingreso_pesos }}
                                {% else %}
                                    {{ fondo.ingreso_dolares }}
                                {% endif %}
                            </td>
                            <td>
                                {{ fondo.total_pesos }}
                            </td>
                            <td>
                                {{ fondo.total_dolares }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9" class="text-center text-muted">
                            No hay registros de fondos.
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <h4>Motos</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="row">Detalles</th>
                <th scope="row">Fecha</th>
                <th scope="row">Estado</th>
                <th scope="row">Documentacion</th>
         
                <th scope="row">Acciones</th>
             
              
            </tr>
        </thead>
        <tbody>
            {% if page_obj %}
                {% for item in page_obj %}
                    <tr>
                        <td>{{ item.moto.moto__marca }} {{ item.moto.moto__modelo }}</td>
                        <td>{{ item.moto.fecha_compra }}</td>
                        <td>
                            {% if item.tipo == "R" %}
                                <span class="badge badge-reserva">Reserva</span>
                            {% else %}
                                <span class="badge badge-venta">Venta</span>
                            {% endif %}

                        </td>
                        <td>
                            {% if item.libreta or item.compra_venta or item.certificado_venta or item.facturas %}
                                {% if item.libreta %}
                                    <div class="btn-group" role="group">
                                        <a href="{{ item.libreta }}" target="_blank">
                                            <button class="btn btn-sm btn-primary" title="Ver Fotocopia de Libreta">
                                                <i class="fas fa-file-alt"></i> Libreta
                                            </button>
                                        </a>
                                        <button class="btn btn-sm btn-danger" title="Eliminar Libreta" onclick="mostrarConfirmacionLibreta('{{ item.moto.id }}')">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                {% endif %}
                                {% if item.compra_venta %}
                                    <div class="btn-group" role="group">
                                        <a href="{{ item.compra_venta }}" target="_blank">
                                            <button class="btn btn-sm btn-success" title="Ver Documento de Compra-Venta">
                                                <i class="fas fa-file-contract"></i> Compra-Venta
                                            </button>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if item.certificado_venta %}
                                    <div class="btn-group" role="group">
                                        <a href="{{ item.certificado_venta }}" target="_blank">
                                            <button class="btn btn-sm btn-secondary" title="Ver Certificado de Venta">
                                                <i class="fas fa-certificate"></i> Certificado
                                            </button>
                                        </a>
                                        <button class="btn btn-sm btn-danger" title="Eliminar Certificado" onclick="mostrarConfirmacionCertificado('{{ item.moto.id }}')">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                {% endif %}
                                {% if item.facturas %}
                                    <div class="btn-group" role="group">
                                        <a href="{{ item.facturas }}" target="_blank">
                                            <button class="btn btn-sm btn-dark" title="Ver Factura">
                                                <i class="fas fa-receipt"></i> Factura
                                            </button>
                                        </a>
                                        <button class="btn btn-sm btn-danger" title="Eliminar Factura" onclick="mostrarConfirmacionFactura('{{ item.moto.id }}')">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                {% endif %}
                            {% else %}
                                <p>SIN DOCUMENTACIÓN</p>
                            {% endif %}
                        </td>
                        
                        
                        <td>
                            <a href="{% url 'DetallesCuotas' item.moto.id %}"><button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button></a>
                            {% if not item.libreta %}
                                <button class="btn btn-sm btn-warning" onclick="toggleLibreta('{{ forloop.counter }}')">
                                    <i class="fas fa-book"></i> Libreta
                                </button>
                            {% endif %}
                            {% if not item.facturas %}
                                <button class="btn btn-sm btn-warning" onclick="toggleFactura('{{ forloop.counter }}')">
                                    <i class="fas fa-book"></i> Factura
                                </button>
                            {% endif %}
                            <button class="btn btn-sm btn-warning" onclick="toggleCCV('{{ forloop.counter }}')">
                                <i class="fas fa-book"></i> Generar CCV
                            </button>
                            {% if not item.certificado_venta %}
                                <a href="{% url 'CargarCertificado' item.moto.id %}"><button class="btn btn-sm btn-warning"><i class="fas fa-book"></i>Generar CV</button></a>                         
                            {% endif %}
                    </td>
                    </tr>

                    <tr id="confirmacion-row-libreta-{{ item.moto.id }}" class="d-none">
                        <td colspan="3" class="text-center text-danger">
                            <p>¿Estás seguro de que deseas borrar la libreta de propiedad asociada a esta venta?</p>
                            <a href="{% url 'BorrarDocumentacion' item.moto.id 'Libreta' %}"><button class="btn btn-sm btn-danger">Confirmar</button></a>
                            <button type="button" class="btn btn-sm btn-secondary" onclick="cancelarEliminacionLibreta('{{ item.moto.id }}')">Cancelar</button>
                        </td>
                    </tr>

                    <tr id="confirmacion-row-factura-{{ item.moto.id }}" class="d-none">
                        <td colspan="3" class="text-center text-danger">
                            <p>¿Estás seguro de que deseas borrar la factura BikeUp asociada a esta venta?</p>
                            <a href="{% url 'BorrarDocumentacion' item.moto.id 'Factura' %}"><button class="btn btn-sm btn-danger">Confirmar</button></a>
                            <button type="button" class="btn btn-sm btn-secondary" onclick="cancelarEliminacionFactura('{{ item.moto.id }}')">Cancelar</button>
                        </td>
                    </tr>

                    <tr id="confirmacion-row-certificado-{{ item.moto.id }}" class="d-none">
                        <td colspan="3" class="text-center text-danger">
                            <p>¿Estás seguro de que deseas borrar el certificado de venta BikeUp asociado a esta venta?</p>
                            <a href="{% url 'BorrarDocumentacion' item.moto.id 'Certificado' %}"><button class="btn btn-sm btn-danger">Confirmar</button></a>
                            <button type="button" class="btn btn-sm btn-secondary" onclick="cancelarEliminacionCertificado('{{ item.moto.id }}')">Cancelar</button>
                        </td>
                    </tr>
                    
                    <tr id="formulario-libreta-{{ forloop.counter }}" style="display: none;"  class="formulario-libreta">
                        <td colspan="4">
                            <form method="post" enctype="multipart/form-data" action="{% url 'CargarLibreta' item.moto.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="certificado" class="form-label">Subir libreta:</label>
                                    <input type="file" class="form-control" id="libreta" name="libreta_venta" required>
                                </div>
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button type="button" class="btn btn-secondary" onclick="toggleLibreta('{{ forloop.counter }}')">Cancelar</button>
                            </form>
                        </td>
                    </tr>
                    <tr id="formulario-factura-{{ forloop.counter }}" style="display: none;"  class="formulario-factura">
                        <td colspan="4">
                            <form method="post" enctype="multipart/form-data" action="{% url 'CargarFactura' item.moto.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="certificado" class="form-label">Subir factura:</label>
                                    <input type="file" class="form-control" id="factura" name="factura_venta" required>
                                </div>
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button type="button" class="btn btn-secondary" onclick="toggleFactura('{{ forloop.counter }}')">Cancelar</button>
                            </form>
                        </td>
                    </tr>
                    <tr id="formulario-ccv-{{ forloop.counter }}" style="display: none;"  class="formulario-ccv">
                        <td colspan="4">
                            <form method="post" enctype="multipart/form-data" action="{% url 'GenerarCCV' item.moto.moto__id item.moto.cliente__id  %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="precio" class="form-label">"Pagaderos de la siguiente forma:..."</label>
                                    <textarea class="form-control" name="texto_pagaderos" id="texto_pagaderos" placeholder="Detalle la forma de pago acordada con el cliente" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </form>
                            <form method="post" enctype="multipart/form-data" action="{% url 'CargarCCV' item.moto.id %}">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="certificado" class="form-label">Subir CCV:</label>
                                    <input type="file" class="form-control" id="libreta" name="ccv_venta" required>
                                </div>
                                <button type="submit" class="btn btn-success">Guardar</button>
                                <button type="button" class="btn btn-secondary" onclick="toggleCCV('{{ forloop.counter }}')">Cancelar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de compras de motos.
                    </td>
                </tr>
            {% endif %}
            
        </tbody>
    </table>
    <h4>Accesorios</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="row">Detalles</th>
                <th scope="row">Fecha</th>
                <!-- <th scope="row">Forma de pago</th>
                <th scope="row">Cuotas</th>
                <th scope="row">Monto</th> -->
                <th scope="row">Factura</th>
                <th scope="row">Acciones</th>

            </tr>
        </thead>
        <tbody>
            {% if page_obj_accesorio %}
                {% for item in page_obj_accesorio %}
                <tr>
                    <td>{{ item.accesorio.accesorio__tipo }} {{ item.accesorio.accesorio__marca }} {{ item.accesorio.accesorio__modelo }}</td>
                    <td>{{ item.accesorio.fecha_compra }}</td>
                   
                    <td>
                        {% if item.factura_documento %}
                        <a href="{{ item.factura_documento }}" target="_blank">
                            <button class="btn btn-sm btn-secondary" title="Ver Factura">
                                <i class="fas fa-certificate"></i> Factura
                            </button>
                        </a>
                        {% else %}
                        <p>SIN DOCUMENTACION</p>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'DetallesCompraAccesorio' item.accesorio.id %}"><button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de compras de accesorios.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'Clientes' %}" class="btn btn-secondary">Volver</a>
</div>
<script>
function toggleFormulario(id) {
        const formulario = document.getElementById(`formulario-certificado-${id}`);
        if (formulario.style.display === "none" || formulario.style.display === "") {
            formulario.style.display = "table-row";
        } else {
            formulario.style.display = "none";
        }
    }

    function toggleLibreta(id) {
        const formulario = document.getElementById(`formulario-libreta-${id}`);
        if (formulario.style.display === "none" || formulario.style.display === "") {
            formulario.style.display = "table-row";
        } else {
            formulario.style.display = "none";
        }
    }

    function toggleFactura(id) {
        const formulario = document.getElementById(`formulario-factura-${id}`);
        if (formulario.style.display === "none" || formulario.style.display === "") {
            formulario.style.display = "table-row";
        } else {
            formulario.style.display = "none";
        }
    }

    function toggleCCV(id) {
        const formulario = document.getElementById(`formulario-ccv-${id}`);
        if (formulario.style.display === "none" || formulario.style.display === "") {
            formulario.style.display = "table-row";
        } else {
            formulario.style.display = "none";
        }
    }

    function mostrar_div_fondos(){
        var fondos_cliente = document.getElementById("fondos_cliente");

        fondos_cliente.style.display = "block";
    }

    function ocultar_div_fondos(){
        var fondos_cliente = document.getElementById("fondos_cliente");

        fondos_cliente.style.display = "none";
    }

    function mostrarConfirmacionLibreta(cvId) {
    // Ocultar otros formularios de confirmación visibles
    document.querySelectorAll("tr[id^='confirmacion-row-']").forEach(row => {
        row.classList.add("d-none");
    });

    // Mostrar el formulario de confirmación debajo de la fila correspondiente
    const confirmacionRow = document.getElementById(`confirmacion-row-libreta-${cvId}`);
    confirmacionRow.classList.remove("d-none");
    }

    function cancelarEliminacionLibreta(cvId) {
        // Ocultar el mensaje de confirmación
        const confirmacion = document.getElementById(`confirmacion-row-libreta-${cvId}`);
        confirmacion.classList.add('d-none');
    }

    function mostrarConfirmacionFactura(cvId) {
    // Ocultar otros formularios de confirmación visibles
    document.querySelectorAll("tr[id^='confirmacion-row-']").forEach(row => {
        row.classList.add("d-none");
    });

    // Mostrar el formulario de confirmación debajo de la fila correspondiente
    const confirmacionRow = document.getElementById(`confirmacion-row-factura-${cvId}`);
    confirmacionRow.classList.remove("d-none");
    }

    function cancelarEliminacionFactura(cvId) {
        // Ocultar el mensaje de confirmación
        const confirmacion = document.getElementById(`confirmacion-row-factura-${cvId}`);
        confirmacion.classList.add('d-none');
    }

    function mostrarConfirmacionCertificado(cvId) {
    // Ocultar otros formularios de confirmación visibles
    document.querySelectorAll("tr[id^='confirmacion-row-']").forEach(row => {
        row.classList.add("d-none");
    });

    // Mostrar el formulario de confirmación debajo de la fila correspondiente
    const confirmacionRow = document.getElementById(`confirmacion-row-certificado-${cvId}`);
    confirmacionRow.classList.remove("d-none");
    }

    function cancelarEliminacionCertificado(cvId) {
        // Ocultar el mensaje de confirmación
        const confirmacion = document.getElementById(`confirmacion-row-certificado-${cvId}`);
        confirmacion.classList.add('d-none');
    }

    function ocultar_en_form_fondos(){
        var forma_pago = document.getElementById("forma_pago")
        var comprobante_pago = document.getElementById("comprobante_pago")
        var tipo_mov = document.getElementById("tipo_mov").value;

        if (tipo_mov === "Ingreso"){
            forma_pago.style.display = "block";
            comprobante_pago.style.display = "block";
        }else{
            forma_pago.style.display = "none";
            comprobante_pago.style.display = "none";
        }
    }
</script>
{% endblock %}
