{% extends "perfil_taller/padre_perfil_taller.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="table-container" id="inventarios">
    <div class="form-container" id="motoForm">
        <h4>Modificacion de moto</h4>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
            {{ error_message }}
            </div>
        {% endif %}
        <form action="{% url 'ModMotoTaller' datos_moto.id %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="marca" class="form-label">Tipo</label>
                <select class="form-control" name="tipo_moto" id="tipo_moto">
                    <option value="Moto" {% if datos_moto.tipo == "Moto" %}selected{% endif %}>Moto</option>
                    <option value="Cuatriciclo" {% if datos_moto.tipo == "Cuatriciclo" %}selected{% endif %}>Cuatriciclo</option>
                    <option value="Otro" {% if datos_moto.tipo == "Otro" %}selected{% endif %}>Otro</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="marca" class="form-label">Marca</label>
                <input value="{{ datos_moto.marca }}" type="text" class="form-control" name="marca_moto" id="marca" placeholder="Ingrese la marca" maxlength="20">
            </div>
            <div class="mb-3">
                <label for="modelo" class="form-label">Modelo</label>
                <input value="{{ datos_moto.modelo }}" type="text" class="form-control" name="modelo_moto" id="modelo" placeholder="Ingrese el modelo" maxlength="20">
            </div>
            <div class="mb-3">
                <label for="motor" class="form-label">Motor(cc)</label>
                <input value="{{ datos_moto.motor }}" type="number" class="form-control" name="motor_moto" id="motor" placeholder="Ingrese la cilindrada">
            </div>
            <div class="mb-3">
                <label for="anio" class="form-label">Año</label>
                <input value="{{ datos_moto.anio }}" type="number" class="form-control" name="anio_moto" id="anio" placeholder="Ingrese el año">
            </div>
            <div class="mb-3" id="kms">
                <label for="kilometros" class="form-label" id="label_km">Kilómetros</label>
                <input value="{{ datos_moto.kilometros }}" type="number" class="form-control" name="km_moto" id="kilometros" placeholder="Ingrese los kilómetros">
            </div>

            {% if datos_moto.contiene_num_motor %}
            <div class="mb-3">
                <label for="num_motor" class="form-label">Número de motor</label>
                <input value="{{ datos_moto.num_motor }}" type="text" class="form-control" name="num_motor_moto" id="num_motor" placeholder="Ingrese el número de motor" maxlength="40">
            </div>
            {% else %}
            <div class="mb-3" style="display: none;" id="agregar_num_motor">
                <label for="num_chasis" class="form-label">Número de motor</label>
                <input type="text" class="form-control" name="num_motor_moto_agregado" id="num_motor_moto_agregado" placeholder="Ingrese el número de motor" maxlength="40">
            </div>
            <div class="mb-3">
                <input type="checkbox" id="con_num_motor" class="form-check-input" name="con_num_motor" onchange="mostrarNumMotor()">
                <label for="toggleMatr" class="form-check-label">Agregar número de motor</label>
            </div>
            {% endif %}

            {% if datos_moto.contiene_num_chasis %}
            <div class="mb-3">
                <label for="num_chasis" class="form-label">Número de chasis</label>
                <input value="{{ datos_moto.num_chasis }}" type="text" class="form-control" name="num_chasis_moto" id="num_chasis" placeholder="Ingrese el número de chasis" maxlength="40">
            </div>
            {% else %}
            <div class="mb-3" style="display: none;" id="agregar_num_chasis">
                <label for="num_chasis" class="form-label">Número de chasis</label>
                <input type="text" class="form-control" name="num_chasis_moto_agregado" id="num_chasis_moto_agregado" placeholder="Ingrese el número de chasis" maxlength="40">
            </div>
            <div class="mb-3">
                <input type="checkbox" id="con_num_chasis" class="form-check-input" name="con_num_chasis" onchange="mostrarNumChasis()">
                <label for="toggleMatr" class="form-check-label">Agregar número de chasis</label>
            </div>
            {% endif %}
            <div class="mb-3" id="num_cilindros">
                <label for="num_chasis" class="form-label">Cantidad de cilindros</label>
                <input value="{{ datos_moto.num_cilindros }}" type="number" class="form-control" name="num_cilindros" id="num_padron" placeholder="Ingrese la cantidad de cilindros" required>
            </div>

            <div class="mb-3" id="num_pasajeros">
                <label for="num_chasis" class="form-label">Cantidad de pasajeros</label>
                <input value="{{ datos_moto.cantidad_pasajeros }}" type="number" class="form-control" name="num_pasajeros" id="num_padron" placeholder="Ingrese la cantidad de pasajeros" required>
            </div>
            {% if letras_matricula and num_matricula %}
            <div class="mb-3" id="matr">
                <label for="matricula" class="form-label">Matricula</label>
                <div class="d-flex">
                    <input value="{{ letras_matricula }}" type="text" class="form-control me-1" name="matricula_letras" id="matricula_letras" placeholder="Caracteres alfabeticos"  maxlength="3">
                    <span class="mx-1">-</span>
                    <input value="{{ num_matricula }}" type="number" class="form-control ms-1" name="matricula_numeros" id="matricula_numeros" placeholder="Caracteres numéricos">
                </div>
                <br>
                <div class="mb-3">
                    <label for="num_motor" class="form-label">Número de padrón</label>
                    <input value="{{ padron }}" type="text" class="form-control" name="num_padron" id="num_padron" placeholder="Ingrese el número de padrón" maxlength="40">
                </div>
            </div>
            {% else %}
            <div class="mb-3">
                <input type="checkbox" id="toggleMatr" class="form-check-input">
                <label for="toggleMatr" class="form-check-label">Ingresar matricula</label>
            </div>
            
            <div class="mb-3" id="matr" style="display: none;">
                <label for="matricula" class="form-label">Matrícula</label>
                <div class="d-flex">
                    <input type="text" class="form-control me-1" name="matricula_letras" id="matricula_letras" placeholder="Caracteres alfabéticos" maxlength="3">
                    <span class="mx-1">-</span>
                    <input type="number" class="form-control ms-1" name="matricula_numeros" id="matricula_numeros" placeholder="Caracteres numéricos">
                </div>
                <div class="mb-3">
                    <label for="num_motor" class="form-label">Número de padrón</label>
                    <input type="text" class="form-control" name="num_padron" id="num_padron" placeholder="Ingrese el número de padrón" maxlength="40">
                </div>
            </div>
            {% endif %}
            

            <div class="mb-3">
                <label for="color" class="form-label">Color</label>
                <input value="{{ datos_moto.color }}" type="text" class="form-control" name="color_moto" id="color" placeholder="Ingrese el color" maxlength="20">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" name="descripcion_moto" id="descripcion" placeholder="Ingrese una descripción" rows="3">{{ datos_moto.observaciones }}</textarea>
            </div>

            <div class="mb-3">
                <label for="foto" class="form-label">Foto</label>
                <input type="file" class="form-control" name="foto_moto" id="foto">
            </div>
            
            <button type="submit" class="btn btn-success">Guardar</button>
            
            <a href="{% url 'MotosTaller' %}" class="btn btn-secondary">Cancelar</a>
        </form>
       
    </div>
</div>

<script>
    function toggleFields() {
        var estado = document.getElementById("estado").value;
        var kms = document.getElementById("kms");
        var matr = document.getElementById("matr");
   
       

        if (estado === "nueva") {
            kms.style.display = "none";
            matr.style.display = "none";
        }else{
            kms.style.display = "block";
           matr.style.display = "block";
        }
    }

    document.getElementById("toggleMatr").addEventListener("change", function() {
        const matrDiv = document.getElementById("matr");
        matrDiv.style.display = this.checked ? "block" : "none";
    });

    // document.getElementById("con_num_motor").addEventListener("change", function() {
    // const agregar_num_motorDiv = document.getElementById("agregar_num_motor");
    // const agregar_num_motorTxt = document.getElementById("num_motor_moto_agregado");

    // if (this.checked) {
    //     agregar_num_motorDiv.style.display = "block";
    //     agregar_num_motorTxt.setAttribute("required", "required");
    // } else {
    //     agregar_num_motorDiv.style.display = "none";
    //     agregar_num_motorTxt.removeAttribute("required");
    //     agregar_num_motorTxt.value = ""; // Limpia el campo si no es necesario
    // }
    // });

    // document.getElementById("con_num_chasis").addEventListener("change", function() {
    //     const agregar_num_chasisDiv = document.getElementById("agregar_num_chasis");
    //     const agregar_num_chasisTxt = document.getElementById("num_chasis_moto_agregado");
    //     agregar_num_chasisDiv.style.display = this.checked ? "block" : "none";
    // });
    function mostrarNumMotor(){
        const cbox = document.getElementById("con_num_motor");
        const agregar_num_motorDiv = document.getElementById("agregar_num_motor");
        const agregar_num_motorTxt = document.getElementById("num_motor_moto_agregado");

        if (cbox.checked) {
            agregar_num_motorDiv.style.display = "block";
            agregar_num_motorTxt.setAttribute("required", "required");
        } else {
            agregar_num_motorDiv.style.display = "none";
            agregar_num_motorTxt.removeAttribute("required");
            agregar_num_motorTxt.value = ""; // Limpia el campo si no es necesario
        }
        

    }


    function mostrarNumChasis(){
        const agregar_num_chasisDiv = document.getElementById("agregar_num_chasis");
        const agregar_num_chasisTxt = document.getElementById("num_chasis_moto_agregado");
        const cbox = document.getElementById("con_num_chasis");
        

        if (cbox.checked) {
            agregar_num_chasisDiv.style.display = "block";
            agregar_num_chasisTxt.setAttribute("required", "required");
        } else {
            agregar_num_chasisDiv.style.display = "none";
            agregar_num_chasisTxt.removeAttribute("required");
            agregar_num_chasisTxt.value = ""; // Limpia el campo si no es necesario
        }

    }

//     document.getElementById("con_num_chasis").addEventListener("change", function() {
//         const agregar_num_chasisDiv = document.getElementById("agregar_num_chasis");
//         const agregar_num_chasisTxt = document.getElementById("num_chasis_moto_agregado");
        

//     if (this.checked) {
//         agregar_num_chasisDiv.style.display = "block";
//         agregar_num_chasisTxt.setAttribute("required", "required");
//     } else {
//         agregar_num_chasisDiv.style.display = "none";
//         agregar_num_chasisTxt.removeAttribute("required");
//         agregar_num_chasisTxt.value = ""; // Limpia el campo si no es necesario
//     }
// });
</script>

{% endblock %}