{% extends "perfil_taller/padre_perfil_taller.html" %}
{% load static %}

{% block contenidoQueCambia %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .badge-reserva {
    background-color: #007bff; /* Azul */
}
.badge-stock {
    background-color: #28a745; /* Verde */
}
</style>
<title>Motos</title>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}
<div class="table-container" id="inventarios">
    <h3>Motos</h3>
    <a href="{% url 'AltaMotoTaller' %}" class="btn btn-primary mb-3">
        <i class="fas fa-motorcycle"></i> Ingreso
    </a>

    <div class="mb-3">
        <label for="estado" class="form-label">Buscar por:</label>
        <select class="form-control" name="estado_moto" id="tipo_busqueda" onchange="tipo_busqueda()">
            <option value="marca">Marca</option>
            <option value="modelo">Modelo</option>
            <option value="num_motor">Número de motor</option>
            <option value="num_chasis">Número de chasis</option>
            <option value="matricula">Matricula</option>
            <option value="tipo">Tipo</option>
        </select>
    </div>

    <!-- Formulario de búsqueda por marca -->
    <form action="{% url 'BusquedaTipoMotoTaller' %}" enctype="multipart/form-data" style="display: none;" method="get" id="busqueda_tipo">{% csrf_token %}
        <div class="input-group mb-3">
            <select class="form-control" name="tipo_moto" id="tipo_moto">
                <option value="Moto">Moto</option>
                <option value="Cuatriciclo">Cuatriciclo</option>
                <option value="Otro">Otro</option>
            </select>

            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'MotosTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
            
        </div>
    </form>
    
    <form action="{% url 'BusquedaNumMotorTaller' %}" enctype="multipart/form-data" method="get" id="busqueda_num_motor" style="display: none;">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="num_motor" class="form-control" placeholder="Buscar por número de motor" required>
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'MotosTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
            
        </div>
    </form>
    
    <form action="{% url 'BusquedaNumChasisTaller' %}" enctype="multipart/form-data" method="get" id="busqueda_num_chasis" style="display: none;">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="num_chasis" class="form-control" placeholder="Buscar por número de chasis" required>
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'MotosTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
            
        </div>
    </form>

    <form action="{% url 'BusquedaMarcaTaller' %}" enctype="multipart/form-data" method="get" id="busqueda_marca">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="marca" class="form-control" placeholder="Buscar por marca">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'MotosTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
            
        </div>
    </form>

    <!-- Formulario de búsqueda por modelo -->
    <form action="{% url 'BusquedaModeloTaller' %}" enctype="multipart/form-data" method="get" id="busqueda_modelo" style="display: none;">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="modelo" class="form-control" placeholder="Buscar por modelo">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'MotosTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
    </form>

    <!-- Formulario de búsqueda por marca y modelo -->

    <!-- Formulario de búsqueda por año -->
    
    <form action="{% url 'BusquedaMatriculaTaller' %}" enctype="multipart/form-data" method="get" id="busqueda_matricula" style="display: none;">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input maxlength="3" type="text" class="form-control" name="letras_matricula" placeholder="Caracteres alfabeticos">
            <span class="input-group-text">-</span>
            <input type="number" class="form-control" name="numeros_matricula" placeholder="Caracteres numéricos">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'MotosTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                
                <th>Marca</th>
                <th>Modelo</th>
                <th>Motor (cc)</th>
                <th>Matricula</th>
                <th>Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if page_obj %}
                {% for moto in page_obj %}
                <tr>
                    
                    <td>{{ moto.moto.marca }}</td>
                    <td>{{ moto.moto.modelo }}</td>
                    <td>{{ moto.moto.motor }}</td>
                    <td>{{ moto.matricula }}</td>
                    <td>{{ moto.cliente }}</td>
                    <td>
                        <a href="{% url 'MotoModificacion' moto.moto.id %}"><button class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button></a>
                        <a href="{% url 'MotoDetalles' moto.moto.id %}"><button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de motos disponibles.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1
                {% if request.GET.marca %}&marca={{ request.GET.marca }}{% endif %}
                {% if request.GET.modelo %}&modelo={{ request.GET.modelo }}{% endif %}
                {% if request.GET.marca_modelo %}&marca_modelo={{ request.GET.marca_modelo }}{% endif %}
                {% if request.GET.modelo_marca %}&modelo_marca={{ request.GET.modelo_marca }}{% endif %}
                {% if request.GET.anio %}&anio={{ request.GET.anio }}{% endif %}
                {% if request.GET.km_minimo %}&km_minimo={{ request.GET.km_minimo }}{% endif %}
                {% if request.GET.km_maximo %}&km_maximo={{ request.GET.km_maximo }}{% endif %}
                {% if request.GET.precio_minimo %}&precio_minimo={{ request.GET.precio_minimo }}{% endif %}
                {% if request.GET.precio_maximo %}&precio_maximo={{ request.GET.precio_maximo }}{% endif %}
                {% if request.GET.tipo_moto %}&tipo_moto={{ request.GET.tipo_moto }}{% endif %}"
                aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}
                {% if request.GET.marca %}&marca={{ request.GET.marca }}{% endif %}
                {% if request.GET.modelo %}&modelo={{ request.GET.modelo }}{% endif %}
                {% if request.GET.marca_modelo %}&marca_modelo={{ request.GET.marca_modelo }}{% endif %}
                {% if request.GET.modelo_marca %}&modelo_marca={{ request.GET.modelo_marca }}{% endif %}
                {% if request.GET.anio %}&anio={{ request.GET.anio }}{% endif %}
                {% if request.GET.km_minimo %}&km_minimo={{ request.GET.km_minimo }}{% endif %}
                {% if request.GET.km_maximo %}&km_maximo={{ request.GET.km_maximo }}{% endif %}
                {% if request.GET.precio_minimo %}&precio_minimo={{ request.GET.precio_minimo }}{% endif %}
                {% if request.GET.precio_maximo %}&precio_maximo={{ request.GET.precio_maximo }}{% endif %}
                {% if request.GET.tipo_moto %}&tipo_moto={{ request.GET.tipo_moto }}{% endif %}"
                aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}
                {% if request.GET.marca %}&marca={{ request.GET.marca }}{% endif %}
                {% if request.GET.modelo %}&modelo={{ request.GET.modelo }}{% endif %}
                {% if request.GET.marca_modelo %}&marca_modelo={{ request.GET.marca_modelo }}{% endif %}
                {% if request.GET.modelo_marca %}&modelo_marca={{ request.GET.modelo_marca }}{% endif %}
                {% if request.GET.anio %}&anio={{ request.GET.anio }}{% endif %}
                {% if request.GET.km_minimo %}&km_minimo={{ request.GET.km_minimo }}{% endif %}
                {% if request.GET.km_maximo %}&km_maximo={{ request.GET.km_maximo }}{% endif %}
                {% if request.GET.precio_minimo %}&precio_minimo={{ request.GET.precio_minimo }}{% endif %}
                {% if request.GET.precio_maximo %}&precio_maximo={{ request.GET.precio_maximo }}{% endif %}
                {% if request.GET.tipo_moto %}&tipo_moto={{ request.GET.tipo_moto }}{% endif %}">
                    {{ num }}
                </a>
            </li>
            {% endfor %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}
                {% if request.GET.marca %}&marca={{ request.GET.marca }}{% endif %}
                {% if request.GET.modelo %}&modelo={{ request.GET.modelo }}{% endif %}
                {% if request.GET.marca_modelo %}&marca_modelo={{ request.GET.marca_modelo }}{% endif %}
                {% if request.GET.modelo_marca %}&modelo_marca={{ request.GET.modelo_marca }}{% endif %}
                {% if request.GET.anio %}&anio={{ request.GET.anio }}{% endif %}
                {% if request.GET.km_minimo %}&km_minimo={{ request.GET.km_minimo }}{% endif %}
                {% if request.GET.km_maximo %}&km_maximo={{ request.GET.km_maximo }}{% endif %}
                {% if request.GET.precio_minimo %}&precio_minimo={{ request.GET.precio_minimo }}{% endif %}
                {% if request.GET.precio_maximo %}&precio_maximo={{ request.GET.precio_maximo }}{% endif %}
                {% if request.GET.tipo_moto %}&tipo_moto={{ request.GET.tipo_moto }}{% endif %}"
                aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}
                {% if request.GET.marca %}&marca={{ request.GET.marca }}{% endif %}
                {% if request.GET.modelo %}&modelo={{ request.GET.modelo }}{% endif %}

                {% if request.GET.marca_modelo %}&marca_modelo={{ request.GET.marca_modelo }}{% endif %}
                {% if request.GET.modelo_marca %}&modelo_marca={{ request.GET.modelo_marca }}{% endif %}

                {% if request.GET.anio %}&anio={{ request.GET.anio }}{% endif %}
                {% if request.GET.km_minimo %}&km_minimo={{ request.GET.km_minimo }}{% endif %}
                {% if request.GET.km_maximo %}&km_maximo={{ request.GET.km_maximo }}{% endif %}
                {% if request.GET.precio_minimo %}&precio_minimo={{ request.GET.precio_minimo }}{% endif %}
                {% if request.GET.precio_maximo %}&precio_maximo={{ request.GET.precio_maximo }}{% endif %}
                {% if request.GET.tipo_moto %}&tipo_moto={{ request.GET.tipo_moto }}{% endif %}"
                aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    
</div>

<script>
    function tipo_busqueda() {
        var busqueda_tipo = document.getElementById("tipo_busqueda").value;
        var busqueda_marca = document.getElementById("busqueda_marca");
        var busqueda_modelo = document.getElementById("busqueda_modelo");
        var busqueda_matricula = document.getElementById("busqueda_matricula");
        var busqueda_tipo_moto = document.getElementById("busqueda_tipo");
        var busqueda_num_motor = document.getElementById("busqueda_num_motor");
        var busqueda_num_chasis = document.getElementById("busqueda_num_chasis");

        
        busqueda_marca.style.display = busqueda_tipo === "marca" ? "block" : "none";
        busqueda_modelo.style.display = busqueda_tipo === "modelo" ? "block" : "none";
        busqueda_matricula.style.display = busqueda_tipo === "matricula" ? "block" : "none";
        busqueda_tipo_moto.style.display = busqueda_tipo === "tipo" ? "block" : "none";
        busqueda_num_motor.style.display = busqueda_tipo === "num_motor" ? "block" : "none";
        busqueda_num_chasis.style.display = busqueda_tipo === "num_chasis" ? "block" : "none";
    
    }
</script>
{% endblock %}
