{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="table-container" id="inventarios">
    <div class="form-container" id="motoForm">
        <h4>Alta de personal</h4>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
            {{ error_message }}
            </div>
        {% endif %}
        {% if reingresar %}
        <div class="alert alert-warning text-center" role="alert">
            <h4 class="alert-heading">¡Atención!</h4>
            <p>La persona que desea ingresar puede que se encuentre registrada como mecánico, ¿desea ingresarla al sistema de la tienda?</p>
            <hr>
            <form action="{% url 'ReingresarTienda' id_personal %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="documento" value="{{ documento }}">
                <div class="d-flex justify-content-center">
                    <button type="submit" name="confirmacion" value="si" class="btn btn-success mx-2">Sí</button>
                    <a href="{% url 'Personal' %}" name="confirmacion" value="no" class="btn btn-danger mx-2">No</a>
                </div>
            </form>
        </div>
        {% endif %}        
        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Documento</label>
                <div class="input-group">
                    <select class="form-control" name="tipo_doc">
                        <option value="CI">Cédula</option>
                        <option value="PAS">Pasaporte</option>
                        <option value="DNI">DNI</option>
                    </select>
                    <span class="input-group-text">-</span>
                    <input type="number" class="form-control" name="doc" placeholder="Documento" required>
                    <!-- Cambiar el botón a tipo submit -->
                </div>
            </div>
            <div class="mb-3">
                <label for="modelo" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="modelo" placeholder="Ingrese el nombre" maxlength="20" required>
            </div>
            
            <div class="mb-3">
                <label for="precio" class="form-label">Apellido</label>
                <input type="text" class="form-control" name="apellido" placeholder="Ingrese el apellido" required>
            </div>

            <div class="mb-3">
                <label for="precio" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" name="f_nac" placeholder="Ingrese la fecha de nacimiento" required>
            </div>

            <div class="mb-3">
                <label for="precio" class="form-label">Telefono</label>
                <input type="number" class="form-control" name="telefono" placeholder="Ingrese el telefono principal" required>
            </div>


            <div class="mb-3">
                <label for="documento" class="form-label">Correo electrónico</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="correo" placeholder="Correo">
                    <span class="input-group-text">-</span>
                    <select class="form-control" placeholder="Dominio del correo" id="dominio_principal" name="dominio_correo" onchange="correos()">
                        <option value="@gmail.com">@gmail.com</option>
                        <option value="@hotmail.com">@hotmail.com</option>
                        <option value="@outlook.com">@outlook.com</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <span class="input-group-text">-</span>
                    <input type="text" class="form-control" id="id_otro_correo" name="otro_correo" placeholder="Dominio del correo" style="display: none;">
                    <!-- Cambiar el botón a tipo submit -->
                </div>
            </div>
            
            <button type="submit" class="btn btn-success">Guardar</button>
            
            <a href="{% url 'Personal' %}" class="btn btn-secondary">Cancelar</a>
        </form>
       
    </div>
</div>
<script>
    function correos(){
        var dominio_correo = document.getElementById("dominio_principal").value;
        var dom_correo = document.getElementById("dominio_principal")
        var otro_correo = document.getElementById("id_otro_correo");
        if (dominio_correo  === "Otro") {
            otro_correo.style.display = "block";
            
        }else{
            otro_correo.style.display = "none";
            
        }
    }

    function correos2(){
        var dominio_correo = document.getElementById("dominio_principal_2").value;
        var dom_correo = document.getElementById("dominio_principal_2")
        var otro_correo = document.getElementById("id_otro_correo_2");
        if (dominio_correo  === "Otro") {
            otro_correo.style.display = "block";
            
        }else{
            otro_correo.style.display = "none";
            
        }
    }
</script>
{% endblock %}