{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
<style>
    .registrar-cliente {
        font-size: 1.1em;
        padding: 12px 24px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    }

    .registrar-cliente:hover {
        background-color: #0056b3; /* Azul más oscuro en hover */
        border-color: #0056b3;
        transform: scale(1.05); /* Ligero aumento de tamaño */
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .registrar-cliente:active {
        transform: scale(1); /* Vuelve al tamaño normal cuando se hace clic */
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
     /* Personalización del botón */

</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">

<title>Cuotas pagas</title>
<div class="table-container" id="inventarios">
    <!-- <div class="mb-3">
        <a href="" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Regresar
        </a>
    </div> -->
    <h3>Pagos</h3>
    
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-3">
            {% if message.tags == "error" %}
                <i class="fas fa-exclamation-circle"></i>
            {% elif message.tags == "success" %}
                <i class="fas fa-check-circle"></i>
            {% endif %}
            {{ message }}
        </div>
    {% endfor %}
{% endif %}


    
    <a id="imprimir-resumen" class="btn btn-primary mb-3" onclick="prueba()" data-id-cv="{{ id_cv }}">
        <i class="fas fa-print"></i> Imprimir Resumen
    </a>

    <a href="#" class="btn btn-primary mb-3" onclick="mostrar_form_ref()">
        <i class="fas fa-money-check-alt"></i> Refinanciar
    </a>
    <div id="div_refinanciamiento" style="display: none;">
        <form action="{% url 'Refinanciar' id_cv %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="documento" class="form-label">Moneda</label>
                <div class="input-group">
                    <select class="form-control" name="moneda_refinanciacion" id="moneda_refinanciacion">
                        <option value="Pesos">Pesos</option>
                        <option value="Dolares">Dólares</option>
                    </select>
                </div>
            </div>
            <div class="mb-3" id="cantidad_restante_pesos">
                <label for="recargo_porcentaje" class="form-label">Precio del dólar actualmente:</label>
                <!-- <input value="{{ precio_dolar|floatformat:2 }}" type="number" class="form-control" name="cantidad_restante" id="precio_dolar" placeholder="Cantidad restante" readonly> -->
                <p>{{ precio_dolar|floatformat:2 }}</p>
            </div>
            <div class="mb-3" id="cantidad_restante_pesos">
                <label for="recargo_porcentaje" class="form-label">Cantidad restante en pesos</label>
                <input value="{{ cant_restante_pesos }}" type="number" class="form-control" name="cantidad_restante" id="txt_cantidad_restante_pesos" placeholder="Cantidad restante" readonly>
            </div>
            <div class="mb-3" id="cantidad_restante_dolares">
                <label for="recargo_porcentaje" class="form-label">Cantidad restante en dólares</label>
                <input value="{{ cant_restante_dolares }}" type="number" class="form-control" name="cantidad_restante" id="txt_cantidad_restante_dolares" placeholder="Cantidad restante" readonly>
            </div>
            <div class="mb-3">
                <label for="recargo_porcentaje" class="form-label">Porcentaje de recargo</label>
                <input type="number" class="form-control" name="recargo_porcentaje" id="recargo_porcentaje" placeholder="Ejemplo: 5 para 5%" required>
            </div>
        
            <div class="mb-3">
                <label for="recargo" class="form-label">Cantidad de cuotas</label>
                <input type="number" class="form-control" name="cant_cuotas" id="cant_cuotas" required>
            </div>
        
            <div class="mb-3">
                <label for="total" class="form-label">Valor de las cuotas en pesos</label>
                <input type="number" class="form-control" name="valor_cuota_pesos" id="valor_cuota_pesos" readonly>
            </div>
            <div class="mb-3">
                <label for="total" class="form-label">Valor de las cuotas en dólares</label>
                <input type="number" class="form-control" name="valor_cuota_dolares" id="valor_cuota_dolares" readonly>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="" class="btn btn-secondary">Cancelar</a>
    </form>
    </div>

    
    <h5>Datos de la compra</h5>
    <table class="table">
        <thead>
            <tr>
                <th>PRODUCTO</th>
                <th>PRECIO INICIAL</th>
                <th>PRECIO FINAL CON RECARGO</th>
                <th>PAGO ACORDADO</th>
            </tr>
        </thead>
        <tbody>
            <td>{{ producto }}</td>
            <td>{{ precio_inicial }}</td>
            <td>{{ precio_final }} ({{ financiacion_inicial }})</td>
            <td>{{ pago_acordado }}</td>
        </tbody>
    </table>


    <h5>Entregas y/o señas</h5>
    <a href="#" class="btn btn-primary mb-3" onclick="mostrar_form_pagos_ini()">
        <i class="fas fa-money-check-alt"></i> Pagar
    </a>
    <div id="div_form_pago_entregas_iniciales" style="display: none;">
        {% if id_cv %}
        <form action="{% url 'AltaPago' id_cv %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Forma de pago</label>
                <div class="input-group">
                    <select class="form-control" name="forma_pago" id="forma_pago">
                        <option value="Efectivo">Efectivo</option>
                        <option value="Transferencia">Transferencia</option>
                        <option value="Débito">Débito</option>
                    </select>
                </div>
            </div>
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Pago a realizar</label>
                <div class="input-group">
                    <select class="form-control" name="pago_a_realizar" id="pago_a_realizar">
                        <option value="Seña">Seña</option>
                        <option value="Entrega inicial">Entrega inicial</option>
                        <option value="Entrega">Entrega</option>
                    </select>
                </div>
            </div>
            
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Moneda</label>
                <div class="input-group">
                    <select class="form-control" name="moneda_entrega" id="moneda_entrega">
                        <option value="Pesos">Pesos</option>
                        <option value="Dolares">Dólares</option>
                    </select>
                </div>
            </div>
            
            
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Cantidad a pagar</label>
                <input type="number" class="form-control" name="valor_a_pagar" id="valor_a_pagar" placeholder="Valor a pagar" required>
            </div>
            
            <div class="mb-3">
                <label for="precio" class="form-label">Fecha del próximo pago</label>
                <input type="date" class="form-control" name="f_prox_pago" placeholder="Ingrese la fecha de nacimiento" required>
            </div>
        
            <div class="mb-3">
                <label for="descripcion" class="form-label">Observaciones</label>
                <textarea class="form-control" name="observaciones_pago" id="descripcion" placeholder="Observaciones del pago" rows="3"></textarea>
            </div>
        
            <div class="mb-3">
                <label for="libreta_propiedad" class="form-label">Comprobante de pago</label>
                <input type="file" class="form-control" name="comprobante_pago" id="comprobante_pago">
            </div>
        
            <button type="submit" class="btn btn-success">Guardar</button>
            <!-- <a href="{% url 'DetallesCuotas' id_cv %}" class="btn btn-secondary">Cancelar</a> -->
            <!-- <button class="btn btn-secondary" id="cerrar_form_ent_ini">Guardar</button> -->
            <a href="#" class="btn btn-secondary" onclick="cerrarFormPagIni()">
                Cancelar
            </a>
        </form>
        
        
        {% endif %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>TIPO</th>
                <th>OBSERVACIONES</th>
                <th>FECHA</th>
                <th>MONEDA</th>
                <th>ENTREGA</th> 
                <th>RESTO</th>
                <th>COMPROBANTE</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
        {% if primeros_pagos %}
            {% for pagos in primeros_pagos %}
            <tr>
                <td>{{ pagos.primeros_pagos.tipo_pago }}</td>
                <td>{% if pagos.primeros_pagos.observaciones %}
                        {{ pagos.primeros_pagos.observaciones }}
                    {% else %} 
                        Sin observaciones 
                    {% endif %}
                </td>
                <td>{{ pagos.primeros_pagos.fecha_pago }}</td>
                <td>{{ pagos.primeros_pagos.moneda }}</td>
                <td>{% if pagos.primeros_pagos.moneda == "Pesos" %} 
                        {{ pagos.primeros_pagos.valor_pago_pesos }} 
                    {% else %} 
                        {{ pagos.primeros_pagos.valor_pago_dolares }} 
                    {% endif %}
                </td>
                <td>${{ pagos.primeros_pagos.cant_restante_pesos }}/U$s{{ pagos.primeros_pagos.cant_restante_dolares }}</td>
                <td>
                    {% if pagos.primeros_pagos.comprobante_pago %}
                    <a href="{{ pagos.primeros_pagos.comprobante_pago }}" target="_blank" class="btn btn-primary">
                        <i class="fas fa-file-alt"></i>
                    </a>
                    
                    {% else %}
                        <p>SIN COMPROBANTE</p>
                    {% endif %}
                </td>
                <td>
                    {% if pagos.boton_ultimo_pago %}
                        <a href="{% url 'BajaPrimerosPagos' pagos.primeros_pagos.id %}"><button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        
        {% else %}

            <tr>
                <td colspan="9" class="text-center text-muted">
                    No hay registros de entregas iniciales y/o señas para esta venta.
                </td>
            </tr>
            
            
        {% endif %}
        </tbody>
    </table>


















    <h5>Cuotas y financiaciones</h5>

    {% if fin_actual %}
  
    <form action="{% url 'PagoPorRef' %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
    <div class="mb-3">
        <label for="documento" class="form-label">Financiaciones</label>
        <div class="input-group">
            <select class="form-control" name="ref_id" id="ref_id">
                {% for financiamiento in financiamientos %}
                    <option value="{{ financiamiento.id }}">{{ financiamiento.financiamientos }}</option>
                {% endfor %}
                
            </select>
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'DetallesCuotas' id_cv %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
    </div>
    </form>
    {% endif %}



    

    <table class="table">
        <thead>
            <tr>
                <th>FECHA</th>
                <th>FINANCIACION</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% if fin_actual %}
            <td>{{ fecha_financiacion }}</td>
            <td>{{ financiacion_info }}</td>
            <td>
                <a href="{% url 'BajaFinanciamiento' id_f id_cv %}"><button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button></a>
            </td>
            {% else %}
            <tr>
                <td colspan="9" class="text-center text-muted">
                    No hay registros de financiaciones para esta venta.
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- <div class="mb-3" id="cb_refinanciar">
        <input type="checkbox" id="checkbox_ref" class="form-check-input">
        <label for="toggleMatr" class="form-check-label">Financiar</label>
    </div> -->

    {% if fin_actual %}
        {% if boton_pagar %}
        <a href="#" class="btn btn-primary mb-3" onclick="mostrar_form_pago()">
            <i class="fas fa-money-check-alt"></i> Pagar
        </a>
        {% endif %}

    
    
    
    <div id="div_form_pago_cuotas" style="display: none;">
        {% if id_cv %}
        <form action="{% url 'PagoCuotas' id_cv %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Forma de pago</label>
                <div class="input-group">
                    <select class="form-control" name="forma_pago" id="forma_pago">
                        <option value="Efectivo">Efectivo</option>
                        <option value="Transferencia">Transferencia</option>
                        <option value="Débito">Débito</option>
                    </select>
                </div>
            </div>
            
            <!-- <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Moneda</label>
                <div class="input-group">
                    <select class="form-control" name="moneda_entrega" id="moneda_entrega">
                        <option value="Pesos">Pesos</option>
                        <option value="Dolares">Dólares</option>
                    </select>
                </div>
            </div> -->

            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Moneda</label>
                <input value="{{ mon_pago }}" type="text" class="form-control" name="moneda_entrega" id="moneda_entrega" placeholder="Moneda" readonly>
            </div>
            
            
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Cantidad a pagar</label>
                <input value="{{ monto_cuota }}" type="number" class="form-control" name="valor_a_pagar" id="valor_a_pagar" placeholder="Valor a pagar" readonly>
            </div>
            
            <div class="mb-3">
                <label for="precio" class="form-label">Fecha del próximo pago</label>
                <input type="date" class="form-control" name="f_prox_pago" placeholder="Ingrese la fecha de nacimiento" required>
            </div>
        
            <div class="mb-3">
                <label for="descripcion" class="form-label">Observaciones</label>
                <textarea class="form-control" name="observaciones_pago" id="descripcion" placeholder="Observaciones del pago" rows="3"></textarea>
            </div>
        
            <div class="mb-3">
                <label for="libreta_propiedad" class="form-label">Comprobante de pago</label>
                <input type="file" class="form-control" name="comprobante_pago" id="comprobante_pago">
            </div>
        
            <button type="submit" class="btn btn-success">Guardar</button>
            
            <a href="{% url 'DetallesCuotas' id_cv %}" class="btn btn-secondary">Cancelar</a>
        </form>
        
        
        {% endif %}
    </div>
    
<br>
    <table class="table">
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Observaciones</th>
                <th>Fecha</th>
                <th>Moneda</th>
                <th>Entrega</th> 
                <th>Cantidad restante</th>
                
                <th>Comprobante</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if page_obj %}
               {% for cuota in page_obj %}
                <tr>
                    <td>{{ cuota.cuota.cuota__tipo_pago }}</td>
                    <td>{{ cuota.cuota.cuota__observaciones }}</td>
                    <td>{{ cuota.cuota.cuota__fecha_pago }}</td>
                    <td>{{ cuota.cuota.cuota__moneda }}</td>
                    <td>{% if cuota.cuota.cuota__moneda == "Pesos" %} {{ cuota.cuota.cuota__valor_pago_pesos }} {% else %} {{ cuota.cuota.cuota__valor_pago_dolares }} {% endif %}</td>
                    <td>${{ cuota.cuota.cuota__cant_restante_pesos }}/U$s{{ cuota.cuota.cuota__cant_restante_dolares }}</td>
                    
                    <td>
                        {% if cuota.comprobante_pago %}
                        <a href="{{ cuota.comprobante_pago }}" target="_blank" class="btn btn-primary">
                            <i class="fas fa-file-alt"></i>
                        </a>
                        
                        {% else %}
                            <p>SIN COMPROBANTE</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if cuota.mostrar_boton %}
                        <a href="{% url 'BajaPago' cuota.cuota.cuota__id %}"><button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% else %}

            <tr>
                <td colspan="9" class="text-center text-muted">
                    No hay registros de pagos para esta venta.
                </td>
            </tr>
            
            
            {% endif %}

        </tbody>
    </table>


    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>


    {% endif %}
    <a href="{% url 'ClienteFicha' id_cliente %}" class="btn btn-secondary">Volver</a>
</div>

<script>
    //############################
    //NO BORRAR LO COMENTADO
    //############################
    //NO BORRAR LO COMENTADO
    //############################
    //NO BORRAR LO COMENTADO    
    const cuotas = JSON.parse('{{ cuotas_json|default:"{}"|escapejs }}');
    const cliente = JSON.parse('{{ cliente_json|escapejs }}');
    const detalle = JSON.parse('{{ detalle_json|escapejs }}');
    const p_pagos = JSON.parse('{{ p_pagos_json|default:"{}"|escapejs }}');
    const fin_pagos_json = JSON.parse('{{fin_pagos_json|default:"{}"|escapejs }}');
    console.log(cuotas);
    console.log(cliente);
    console.log(detalle);
    console.log(p_pagos);
    console.log(fin_pagos_json);
    function mostrar_form_pago(){
        var div_form = document.getElementById("div_form_pago")
        var div_ref = document.getElementById("div_refinanciamiento")
        div_form.style.display = "block";
        div_ref.style.display = "none";
    }

    function mostrar_form_ref(){
        var div_ref = document.getElementById("div_refinanciamiento")
        var div_form = document.getElementById("div_form_pago_entregas_iniciales")
        var div_form_pago_cuotas = document.getElementById("div_form_pago_cuotas")
        div_ref.style.display = "block";
        div_form.style.display = "none";
        div_form_pago_cuotas.style.display = "none";
    }

    function mostrar_form_pagos_ini(){
        var div_form_pago_entregas_iniciales = document.getElementById("div_form_pago_entregas_iniciales")
        var div_ref = document.getElementById("div_refinanciamiento")
        var div_form_pago_cuotas = document.getElementById("div_form_pago_cuotas")
        // var div_form = document.getElementById("div_form_pago")
        div_form_pago_entregas_iniciales.style.display = "block";
        div_ref.style.display = "none";
        div_form_pago_cuotas.style.display = "none";
    }

    function mostrar_form_pago(){
        var div_form_pago_cuotas = document.getElementById("div_form_pago_cuotas")
        var div_ref = document.getElementById("div_refinanciamiento")
        var div_form = document.getElementById("div_form_pago_entregas_iniciales")
        div_form_pago_cuotas.style.display = "block";
        div_ref.style.display = "none";
        div_form.style.display = "none";
    }
    function cerrarFormPagIni(){
        var div_form_pago_entregas_iniciales = document.getElementById("div_form_pago_entregas_iniciales")
        div_form_pago_entregas_iniciales.style.display = "none";
    }

    function cerrarFormRef(){
        var div_ref = document.getElementById("div_refinanciamiento")
        div_ref.style.display = "none";
    }
//############################
    //NO BORRAR LO COMENTADO
    //############################
    //NO BORRAR LO COMENTADO
    //############################
    //NO BORRAR LO COMENTADO


// document.getElementById("imprimir-resumen").addEventListener("click", function () {
//     generarResumen(cuotas,cliente,detalle); // Aquí pasas los datos directamente a la función
// });

function prueba(){
    generarResumen(cuotas,cliente,detalle,p_pagos,fin_pagos_json);
}

// function generarResumen(cuotas,cliente,detalle) {
//     // Construir el encabezado de la tabla con estilos en línea para impresión
//     let resumenHTML = `
//         <html>
//         <head>
//             <title>Resumen de Compra</title>
//             <style>
//                 body {
//                     font-family: Arial, sans-serif;
//                     color: #000;
//                     background-color: #fff;
//                     margin: 20px;
//                 }
//                 h5 {
//                     text-align: left;
//                     border-bottom: 2px solid #000;
//                     padding-bottom: 5px;
//                 }
//                 table {
//                     width: 100%;
//                     border-collapse: collapse;
//                     margin-bottom: 20px;
//                 }
//                 th, td {
//                     border: 1px solid #000;
//                     padding: 8px;
//                     text-align: left;
//                 }
//                 th {
//                     background-color: #f0f0f0;
//                     font-weight: bold;
//                 }
//                 tr:nth-child(even) {
//                     background-color: #f9f9f9;
//                 }
//             </style>
//         </head>
//         <body>
//             <div class="cliente-info">
//                 <p><strong>Nombre:</strong> ${cliente.cliente}</p>
//                 <p><strong>Contacto:</strong> ${cliente.telefono}</p>
//                 <p><strong>Dirección:</strong> ${cliente.direccion}</p>
//             </div>
//             <h5>DATOS DE LA COMPRA</h5>
//             <table>
//                 <thead>
//                     <tr>
//                         <th>DETALLE</th>
//                         <th>PRECIO INICIAL</th>
//                         <th>PRECIO FINAL</th>
//                     </tr>
//                 </thead>
//                 <tbody>
    
  
//             <tr>
//                 <td>${detalle.detalle}</td>
//                 <td>${detalle.precio_inicial.toFixed(0)}</td>
//                 <td>${detalle.precio_final.toFixed(0)} (${detalle.financiacion})</td>
//             </tr>
      

   
//                 </tbody>
//             </table>
//             <h5>PAGOS</h5>
//             <table>
//                 <thead>
//                     <tr>
//                         <th>TIPO</th>
//                         <th>FECHA</th>
//                         <th>MONEDA</th>
//                         <th>MONTO</th>
//                         <th>FECHA DE VENCIMIENTO</th>
//                     </tr>
//                 </thead>
//                 <tbody>
//     `;

//     cuotas.forEach(cuota => {
//         resumenHTML += `
//             <tr>
//                 <td>${cuota.tipo_pago}</td>
//                 <td>${cuota.fecha}</td>
//                 <td>${cuota.moneda}</td>
//                 <td>${cuota.monto.toFixed(0)}</td>
//                 <td>${cuota.fecha_vencimiento}</td>
//             </tr>
//         `;
//     });

//     // Cerrar tabla y añadir pie de página
//     resumenHTML += `
//                 </tbody>
//             </table>
//         </body>
//         </html>
//     `;

//     // Crear una ventana nueva para imprimir
//     const ventana = window.open("", "_blank");
//     ventana.document.write(resumenHTML);
//     ventana.document.close();
//     ventana.print();
// }
function generarResumen(cuotas, cliente, detalle, p_pagos, fin_pagos_json) {
    // Construir el encabezado de la tabla con estilos en línea para impresión
    let resumenHTML = `
        <html>
        <head>
            <title>Resumen de Compra</title>
            <style>
                body {
                    font-family: Arial, sans-serif;
                    color: #000;
                    background-color: #fff;
                    margin: 20px;
                }
                h5 {
                    text-align: left;
                    border-bottom: 2px solid #000;
                    padding-bottom: 5px;
                }
                table {
                    width: 100%;
                    border-collapse: collapse;
                    margin-bottom: 20px;
                }
                th, td {
                    border: 1px solid #000;
                    padding: 8px;
                    text-align: left;
                }
                th {
                    background-color: #f0f0f0;
                    font-weight: bold;
                }
                tr:nth-child(even) {
                    background-color: #f9f9f9;
                }
            </style>
        </head>
        <body>
           
                <img src="http://localhost:8000/media/logos/logo.jpeg" alt="Logo de la tienda">
            
            
            <div class="cliente-info">
                <p><strong>Nombre:</strong> ${cliente.cliente || "N/A"}</p>
                <p><strong>Contacto:</strong> ${cliente.telefono || "N/A"}</p>
                <p><strong>Dirección:</strong> ${cliente.direccion || "N/A"}</p>
            </div>
            <h5>DATOS DE LA COMPRA</h5>
            <table>
                <thead>
                    
                    <tr>
                        <th>DETALLE</th>
                        <th>PRECIO INICIAL</th>
                        <th>PRECIO FINAL</th>
                    </tr>
                </thead>
                <tbody>
            `;

            if (fin_pagos_json && fin_pagos_json.length > 0) {
        fin_pagos_json.forEach(fins => {
            resumenHTML += `
                <tr>
                        <td>${fins.detalle || "N/A"}</td>
                        <td>${fins.precio_inicial ? fins.precio_inicial.toFixed(0) : "N/A"}</td>
                        <td>${fins.precio_final ? fins.precio_final.toFixed(0) : "N/A"} (${fins.financiacion || "N/A"})</td>
                </tr>
            `;
        });
    } else {
        // Mostrar mensaje si no hay cuotas
        resumenHTML += `
            <tr>
                <td colspan="5" style="text-align: center;">No se encontraron cuotas.</td>
            </tr>
        `;
    }
                    


      resumenHTML += `          </tbody>
            </table>
            <h5>ENTREGAS Y/O SEÑAS</h5>
            <table>
                <thead>
                    <tr>
                        <th>TIPO</th>
                        <th>FECHA</th>
                        <th>MONEDA</th>
                        <th>MONTO</th>
                       
                    </tr>
                </thead>
                <tbody>

       `;             
       if (p_pagos && p_pagos.length > 0) {
        p_pagos.forEach(p_p => {
            resumenHTML += `
                <tr>
                    <td>${p_p.tipo_pago || "N/A"}</td>
                    <td>${p_p.fecha || "N/A"}</td>
                    <td>${p_p.moneda || "N/A"}</td>
                    <td>${p_p.monto ? p_p.monto.toFixed(0) : "N/A"}</td>
                </tr>
            `;
        });
    } else {
        // Mostrar mensaje si no hay cuotas
        resumenHTML += `
            <tr>
                <td colspan="5" style="text-align: center;">No se encontraron cuotas.</td>
            </tr>
        `;
    }

    // Cerrar tabla y añadir pie de página
    resumenHTML += `
                </tbody>
            </table>
        </body>
        </html>
    `;
     
       resumenHTML += `       <h5>PAGOS</h5>
            <p><strong>FINANCIAMIENTO ACTUAL:</strong> ${detalle.financiacion || "N/A"}</p>
            <table>
                <thead>
                    <tr>
                        <th>TIPO</th>
                        <th>FECHA</th>
                        <th>MONEDA</th>
                        <th>MONTO</th>
                        <th>FECHA DE VENCIMIENTO</th>
                    </tr>
                </thead>
                <tbody>
    `;

    // Validar cuotas
    if (cuotas && cuotas.length > 0) {
        cuotas.forEach(cuota => {
            resumenHTML += `
                <tr>
                    <td>${cuota.tipo_pago || "N/A"}</td>
                    <td>${cuota.fecha || "N/A"}</td>
                    <td>${cuota.moneda || "N/A"}</td>
                    <td>${cuota.monto ? cuota.monto.toFixed(0) : "N/A"}</td>
                    <td>${cuota.fecha_vencimiento || "N/A"}</td>
                </tr>
            `;
        });
    } else {
        // Mostrar mensaje si no hay cuotas
        resumenHTML += `
            <tr>
                <td colspan="5" style="text-align: center;">No se encontraron cuotas.</td>
            </tr>
        `;
    }

    // Cerrar tabla y añadir pie de página
    resumenHTML += `
                </tbody>
            </table>
        </body>
        </html>
    `;

    // Crear una ventana nueva para imprimir
    const ventana = window.open("", "_blank");
    ventana.document.write(resumenHTML);
    ventana.document.close();
    ventana.print();
}


// function check_refinanciamiento(){
//     var pago_a_realizar = document.getElementById('pago_a_realizar').value;
//     var cb_refinanciar = document.getElementById('cb_refinanciar');

//     if (pago_a_realizar == "Cuota"){
//         cb_refinanciar.style.display = "block";
//     }else{
//         cb_refinanciar.style.display = "none";
//     }
// }


document.addEventListener('DOMContentLoaded', () => {

    const txt_cantidad_restante_pesos = document.getElementById('txt_cantidad_restante_pesos');
    const txt_cantidad_restante_dolares = document.getElementById('txt_cantidad_restante_dolares');
    const recargo = document.getElementById('recargo_porcentaje');
    const cantCuotas = document.getElementById('cant_cuotas');
    const valorCuotaPesos = document.getElementById('valor_cuota_pesos');
    const valorCuotaDolares = document.getElementById('valor_cuota_dolares');
    // const precioDolarTexto = document.getElementById('precio_dolar').textContent;
    // const precioDolar = parseFloat(precioDolarTexto);

    
    function calcularRecargoRef() {
        const cant_restante_pesos = parseFloat(txt_cantidad_restante_pesos.value) || 0;
        const cant_restante_dolares = parseFloat(txt_cantidad_restante_dolares.value) || 0;
        const porcentaje = parseFloat(recargo.value) || 0;
        const cuotas = parseFloat(cantCuotas.value) || 0;

        // Calcular el recargo basado en el porcentaje ingresado
        const sumarRecargoPesos = (cant_restante_pesos * porcentaje * cuotas) / 100;
        const sumarRecargoDolares = (cant_restante_dolares * porcentaje * cuotas) / 100; 
        const totalPesos = cant_restante_pesos + sumarRecargoPesos;
        const totalDolares = cant_restante_dolares + sumarRecargoDolares;
        const ValorCuotaPesos = totalPesos / cuotas;
        const ValorCuotaDolares = totalDolares / cuotas;

        // Actualizar los campos
        valorCuotaPesos.value = ValorCuotaPesos.toFixed(0);
        valorCuotaDolares.value = ValorCuotaDolares.toFixed(0);
    }

    // Listeners para actualizar según los cambios en la moneda o valores ingresados
   
    txt_cantidad_restante_pesos.addEventListener('input', calcularRecargoRef);
    txt_cantidad_restante_dolares.addEventListener('input', calcularRecargoRef);
    recargo.addEventListener('input', calcularRecargoRef);
    cantCuotas.addEventListener('input', calcularRecargoRef);

});
</script>
{% endblock %}
