{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<div class="table-container" id="inventarios">
    
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="mb-3">
        <label for="estado" class="form-label">Buscar por:</label>
        <select class="form-control" name="estado_accesorio" id="tipo_busqueda" onchange="tipo_busqueda()">
            <option value="cliente">Cliente</option>
            <option value="fecha_venta">Fecha de venta</option>
            <option value="marca_modelo_moto">Moto</option>
            <option value="accesorio">Accesorio</option>

        </select>
    </div>

    <form action="{% url 'VentasCliente' %}" enctype="multipart/form-data" method="get" id="busqueda_cliente">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control" name="apellido" placeholder="Apellido">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'Ventas' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
    </form>

    <form action="{% url 'VentasFecha' %}" enctype="multipart/form-data" method="get" id="busqueda_fecha" style="display: none;">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="date" class="form-control" name="f_venta" placeholder="Ingrese la fecha de la venta">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'Ventas' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>        
        </div>
    </form>

    <form action="{% url 'VentaMoto' %}" enctype="multipart/form-data" method="get" id="busqueda_moto" style="display: none;">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="marca_moto" placeholder="Marca">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control" name="modelo_moto" placeholder="Modelo">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'Ventas' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
    </form>

    <form action="{% url 'VentaAccesorio' %}" enctype="multipart/form-data" method="get" id="busqueda_accesorio" style="display: none;">
        {% csrf_token %}
        <div class="input-group mb-3">
            <select class="form-control" name="tipo_accesorio" id="tipo_accesorio">
                <option value="Aceite">Aceite</option>
                <option value="Casco">Casco</option>
                <option value="Cubremoto">Cubremoto</option>
                <option value="Grasa de cadena">Grasa de cadena</option>
                <option value="Guantes">Guantes</option>
                <option value="Mecanismo">Mecanismo de casco</option>
                <option value="Micas">Micas</option>
                <option value="Pasamontaña">Pasamontaña</option>
                <option value="Ropa">Ropa</option>
                <option value="Slime">Slime</option>
                <option value="Trancas">Trancas</option>
                <option value="Valijas">Valijas</option>
                <option value="Otro">Otro</option>
            </select>
            <span class="input-group-text">-</span>
            <input type="text" class="form-control" name="marca_accesorio" placeholder="Marca">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control" name="modelo_accesorio" placeholder="Modelo">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'Ventas' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
    </form>

    
    <h3>Motos</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Detalles</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if page_obj %}
                {% for moto in page_obj %}
            <!-- Filas de ejemplo de accesorios -->
            <tr>
                <td>{{ moto.moto.moto__marca }} {{ moto.moto.moto__modelo }}</td>
                <td>{{ moto.moto.fecha_compra|date:"d/m/Y"}}</td>
                <td>{{ moto.moto.cliente__nombre }} {{ moto.moto.cliente__apellido }}</td>
                <td>
                    <a href="{% url 'ClienteFicha' moto.moto.cliente__id %}"><button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button></a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de accesorios disponibles.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&marca_moto={{ request.GET.marca_moto }}&modelo_moto={{ request.GET.modelo_moto }}" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&marca_moto={{ request.GET.marca_moto }}&modelo_moto={{ request.GET.modelo_moto }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}&marca_moto={{ request.GET.marca_moto }}&modelo_moto={{ request.GET.modelo_moto }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&marca_moto={{ request.GET.marca_moto }}&modelo_moto={{ request.GET.modelo_moto }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&marca_moto={{ request.GET.marca_moto }}&modelo_moto={{ request.GET.modelo_moto }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
<br>
<br>
    <h3>Accesorios</h3>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    

    <table class="table">
        <thead>
            <tr>
                <th>Detalles</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if page_objAccs %}
                {% for accesorio in page_objAccs %}
            <!-- Filas de ejemplo de accesorios -->
            <tr>
                <td>{{ accesorio.accesorio.accesorio__tipo }} {{ accesorio.accesorio.accesorio__marca }} {{ accesorio.accesorio.accesorio__modelo }}</td>
                <td>{{ accesorio.accesorio.fecha_compra|date:"d/m/Y"}}</td>
                <td>{{ accesorio.accesorio.cliente__nombre }} {{ accesorio.accesorio.cliente__apellido }}</td>
                <td>
                    <a href="{% url 'ClienteFicha' accesorio.accesorio.cliente__id %}"><button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button></a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de accesorios disponibles.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_objAccs.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_objAccs.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_objAccs.paginator.page_range %}
            <li class="page-item {% if page_objAccs.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_objAccs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_objAccs.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_objAccs.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    
</div>
<script>
    function tipo_busqueda() {
        var busqueda_tipo = document.getElementById("tipo_busqueda").value;

        var busqueda_cliente = document.getElementById("busqueda_cliente");
        var busqueda_fecha = document.getElementById("busqueda_fecha");
        var busqueda_moto = document.getElementById("busqueda_moto");
        var busqueda_accesorio = document.getElementById("busqueda_accesorio");
        
        busqueda_cliente.style.display = busqueda_tipo === "cliente" ? "block" : "none";
        busqueda_fecha.style.display = busqueda_tipo === "fecha_venta" ? "block" : "none";
        busqueda_moto.style.display = busqueda_tipo === "marca_modelo_moto" ? "block" : "none";
        busqueda_accesorio.style.display = busqueda_tipo === "accesorio" ? "block" : "none";
    }
</script>
{% endblock %}