<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrativo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'js/scripts.js' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Umpierrez Motos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item {% if active_page == 'Estadisticas' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'Estadisticas' %}" onclick="">ESTADISTICAS</a>
                    </li>
                    <li class="nav-item {% if active_page == 'Motos' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'Motos' %}" onclick="">MOTOS</a>
                    </li>
                    <!-- Más ítems de la barra -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Accesorios' %}" onclick="">ACCESORIOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Clientes' %}" onclick="">CLIENTES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Reservas' %}" onclick="">RESERVAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Pedidos' %}" onclick="">PEDIDOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Ventas' %}" onclick="">VENTAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Personal' %}" onclick="">PERSONAL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Arqueos' %}" onclick="">ARQUEO</a>
                    </li>
                    <!-- Más ítems de la barra -->
                </ul>
                <div class="d-flex align-items-center">
                    <!-- Notificaciones -->
                    <div class="notification-bell me-3">
                        <a href="{% url 'NotificacionesAdministrativo' %}" class="text-decoration-none">
                            <i class="fas fa-bell"></i>
                            {% if notificaciones > 0 %}
                            <span class="notification-count" id="notificationCount">{{ notificaciones }}</span>
                            {% endif %}
                        </a>
                    </div>
                
                    <!-- Tienda -->
                    <a href="{% url 'Tienda' %}" class="nav-link me-3">TIENDA</a>
                
                    <!-- Usuario -->
                    <span class="navbar-text me-3">
                        <strong>USUARIO:</strong> {{ request.user.first_name }}
                    </span>
                    <a href="{% url 'EditarUsuario' %}" class="me-3" title="Editar Perfil">
                        <i class="fas fa-user-edit fa-lg"></i>
                    </a>
                
                    <!-- Cerrar sesión -->
                    <a href="{% url 'CerrarSesion' %}">
                        <button class="btn btn-logout">Cerrar sesión</button>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid" id="content">
        {% block contenidoQueCambia %}

        {% endblock %}
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>