{% extends "perfil_taller/padre_perfil_taller.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="table-container" id="inventarios">
    <div class="form-container" id="motoForm">
        <h4>Alta de accesorio</h4>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
            {{ error_message }}
            </div>
        {% endif %}
        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="modelo" class="form-label">Descripcion</label>
                <input type="text" class="form-control" name="descripcion_repuesto" id="modelo" placeholder="Ingrese el modelo" maxlength="20" required>
            </div>

            <div class="mb-3">
                <label for="marca" class="form-label">Stock</label>
                <input type="text" class="form-control" name="stock_repuesto" id="marca" placeholder="Ingrese el stock" required>
            </div>

            <div class="mb-3">
                <label for="marca" class="form-label">Stock crítico</label>
                <input type="text" class="form-control" name="stock_critico" id="marca" placeholder="Ingrese el stock" required>
            </div>

            <div class="mb-3">
                <label for="marca" class="form-label">Precio (ingrese 0 si no desea ingresar el precio)</label>
                <input type="text" class="form-control" name="precio_repuesto" id="marca" placeholder="Ingrese el precio" required>
            </div>

            <div class="mb-3" id="foto_prueba">
                <label for="foto" class="form-label">Foto</label>
                <input type="file" class="form-control" name="foto_repuesto" id="foto">
            </div>
            
            <button type="submit" class="btn btn-success">Guardar</button>
        
            <a href="{% url 'Repuestos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
       
    </div>
</div>
{% endblock %}