{% extends "perfil_taller/padre_perfil_taller.html" %}
{% load static %}

{% block contenidoQueCambia %}
<style>
    .registrar-cliente {
        font-size: 1.1em;
        padding: 12px 24px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    }

    .registrar-cliente:hover {
        background-color: #0056b3; /* Azul más oscuro en hover */
        border-color: #0056b3;
        transform: scale(1.05); /* Ligero aumento de tamaño */
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .registrar-cliente:active {
        transform: scale(1); /* Vuelve al tamaño normal cuando se hace clic */
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
    .pagination-container {
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 0;
    }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">

<title>Clientes</title>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<div class="table-container" id="inventarios">
    <h3>Clientes</h3>
    <!-- <a href="" class="btn btn-primary mb-3 registrar-cliente">
        <i class="fas fa-user-plus"></i> Alta de Cliente
    </a> -->
    <a href="{% url 'AltaClienteTaller' %}" class="btn btn-primary mb-3">
        <i class="fas fa-user-plus"></i> Alta de cliente
    </a>
    
    

    <div class="mb-3">
        <label for="estado" class="form-label">Buscar por:</label>
        <select class="form-control" name="tipo_busqueda" id="tipo_busqueda" onchange="tipo_busqueda()">
            <option value="documento">Documento</option>
            <option value="nombre_apellido">Nombre y/o apellido</option>
        </select>
    </div>

    <!-- Formulario de búsqueda por marca -->
    <form action="{% url 'BusquedaDocumentoTaller' %}" enctype="multipart/form-data" method="get" id="busqueda_documento">{% csrf_token %}
        <div class="input-group mb-3">
            <select class="form-control" name="tipo_doc_busq" id="tipo_doc">
                <option value="CI">Cédula</option>
                <option value="PAS">Pasaporte</option>
                <option value="DNI">DNI</option>
            </select>
            <input type="number" name="documento" class="form-control" placeholder="Buscar por documento">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'ClientesTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
            
        </div>
    </form>

    <form action="{% url 'BusquedaNombreApellidoTaller' %}" enctype="multipart/form-data" method="get" id="busqueda_nombre_apellido" style="display: none;">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre">
            <span class="input-group-text">-</span>
            <input type="text" name="apellido" class="form-control" placeholder="Buscar por apellido">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'ClientesTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
            
        </div>
    </form>

    <!-- Formulario de búsqueda por modelo -->
    <table class="table">
        <thead>
            <tr>
                <th>Cliente</th> <!-- NOMBRE Y APELLIDO -->
                <th>Telefono/Celular</th>
                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if page_obj %}
                {% for cliente in page_obj %}
                <tr>
                    <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                    <td>{{ cliente.cliente_telefono__telefono }}</td>
                   
                    <td>
                        <a href="{% url 'ModificacionClienteTaller' cliente.id %}"><button class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button></a>
                        <a href="{% url 'DetallesClienteTaller' cliente.id %}"><button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de clientes.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <div class="pagination-container">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1{% if request.GET.nombre %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}" aria-label="Primera">
            &laquo;&laquo;
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.nombre|default:'' %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}" aria-label="Anterior">
            &laquo;
        </a>
    </li>
{% endif %}

{% for num in page_obj.paginator.page_range %}
    {% if num == 1 or num == page_obj.paginator.num_pages %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}{% if request.GET.nombre|default:'' %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}">{{ num }}</a>
        </li>
    {% elif num >= page_obj.number|add:"-2" and num <= page_obj.number|add:"2" %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}{% if request.GET.nombre|default:'' %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}">{{ num }}</a>
        </li>
    {% elif num == 2 and page_obj.number > 4 %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
    {% elif num == page_obj.paginator.num_pages|add:"-1" and page_obj.number < page_obj.paginator.num_pages|add:"-3" %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %}
{% endfor %}

{% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.nombre|default:'' %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}" aria-label="Siguiente">
            &raquo;
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.nombre %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}" aria-label="Última">
            &raquo;&raquo;
        </a>
    </li>
{% endif %}



            </ul>
        </div>
    </nav>
    <h3>Empresas</h3>
    <a href="{% url 'EmpresaAltaTaller' %}" class="btn btn-primary mb-3">
        <i class="fas fa-user-plus"></i> Alta de Empresa
    </a>
    <div class="mb-3">
        <label for="estado" class="form-label">Buscar por:</label>
        <select class="form-control" name="tipo_busqueda_empresa" id="tipo_busqueda_empresa" onchange="tipo_busqueda_empresas()">
            <option value="rut">RUT</option>
            <option value="nombre_empresa">Nombre de Empresa</option>
        </select>
    </div>

    <!-- Formulario de búsqueda por marca -->
    <form action="{% url 'TallerBusquedaRUT' %}" enctype="multipart/form-data" method="get" id="busqueda_rut">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="number" name="documento" class="form-control" placeholder="Buscar por RUT">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'ClientesTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
            
        </div>
    </form>

    <form action="{% url 'TallerBusquedaNombreEmpresa' %}" enctype="multipart/form-data" method="get" id="busqueda_nombre_empresa" style="display: none;">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="nombre" class="form-control" placeholder="Buscar por nombre">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'ClientesTaller' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
            
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Empresa</th> <!-- NOMBRE Y APELLIDO -->
                <th>Telefono/Celular</th>
                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if page_obj_empresas %}
                {% for cliente in page_obj_empresas %}
                <tr>
                    <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                    <td>{{ cliente.cliente_telefono__telefono }}</td>
                   
                    <td>
                        <a href="{% url 'EmpresaModificacionTaller' cliente.id %}"><button class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button></a>
                        <a href="{% url 'DetallesClienteTaller' cliente.id %}"><button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button></a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de empresas.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <div class="pagination-container">
            <ul class="pagination justify-content-center">
                {% if page_obj_empresas.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1{% if request.GET.nombre %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}" aria-label="Primera">
            &laquo;&laquo;
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.nombre|default:'' %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}" aria-label="Anterior">
            &laquo;
        </a>
    </li>
{% endif %}

{% for num in page_obj_empresas.paginator.page_range %}
    {% if num == 1 or num == page_obj_empresas.paginator.num_pages %}
        <li class="page-item {% if num == page_obj_empresas.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}{% if request.GET.nombre|default:'' %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}">{{ num }}</a>
        </li>
    {% elif num >= page_obj_empresas.number|add:"-2" and num <= page_obj_empresas.number|add:"2" %}
        <li class="page-item {% if num == page_obj_empresas.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}{% if request.GET.nombre|default:'' %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}">{{ num }}</a>
        </li>
    {% elif num == 2 and page_obj_empresas.number > 4 %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
    {% elif num == page_obj_empresas.paginator.num_pages|add:"-1" and page_obj_empresas.number < page_obj_empresas.paginator.num_pages|add:"-3" %}
        <li class="page-item disabled"><span class="page-link">...</span></li>
    {% endif %}
{% endfor %}

{% if page_obj_empresas.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj_empresas.next_page_number }}{% if request.GET.nombre|default:'' %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}" aria-label="Siguiente">
            &raquo;
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj_empresas.paginator.num_pages }}{% if request.GET.nombre %}&nombre={{ request.GET.nombre|default:'' }}{% endif %}{% if request.GET.apellido|default:'' %}&apellido={{ request.GET.apellido|default:'' }}{% endif %}" aria-label="Última">
            &raquo;&raquo;
        </a>
    </li>
{% endif %}



            </ul>
        </div>
    </nav>

</div>

<script>
    function tipo_busqueda() {
        var busqueda_tipo = document.getElementById("tipo_busqueda").value;
        var busqueda_documento = document.getElementById("busqueda_documento");
        var busqueda_nombre_apellido = document.getElementById("busqueda_nombre_apellido");


        busqueda_documento.style.display = busqueda_tipo === "documento" ? "block" : "none";
        busqueda_nombre_apellido.style.display = busqueda_tipo === "nombre_apellido" ? "block" : "none";

    }

    function tipo_busqueda_empresas() {
        var busqueda_tipo = document.getElementById("tipo_busqueda_empresa").value;
        var busqueda_documento = document.getElementById("busqueda_rut");
        var busqueda_nombre_apellido = document.getElementById("busqueda_nombre_empresa");


        busqueda_documento.style.display = busqueda_tipo === "rut" ? "block" : "none";
        busqueda_nombre_apellido.style.display = busqueda_tipo === "nombre_empresa" ? "block" : "none";

    }
</script>
{% endblock %}
