{% extends "perfil_taller/padre_perfil_taller.html" %}
{% load static %}

{% block contenidoQueCambia %}
<style>
    form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form label span {
    flex-grow: 1;
}

form label input[type="number"] {
    max-width: 100px;
    text-align: right;
}
</style>
<div class="table-container" id="inventarios">
    <div class="form-container" id="motoForm">
        <h2>Modificación de servicio</h4>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
         {% endif %}
        {% if error_message_cliente %}
        <div class="alert alert-danger" role="alert">
            {{ error_message_cliente }} <a href="{% url 'ClienteAlta' %}">aquí</a>
        </div>
        {% endif %}
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        <!-- Formulario de búsqueda de cliente -->
       
        <!-- <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %} -->
            <h4>Datos del cliente</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Cliente</th>
                        <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Documento</th>
                        <td>{{ cliente.documento }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Contacto</th>
                        <td>{{ telefono }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Correo</th>
                        <td>{{ correo }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Domicilio</th>
                        <td>{{ cliente.domicilio }}</td>
                    </tr>
                </tbody>
            </table>

            <h4>Datos de la moto</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Marca</th>
                        <td>{{ moto.marca }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Modelo</th>
                        <td>{{ moto.modelo }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Motor (cc)</th>
                        <td>{{ moto.motor }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Año</th>
                        <td>{{ moto.anio }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Número de motor</th>
                        <td>{{ moto.num_motor }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Número de chasis</th>
                        <td>{{ moto.num_chasis }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Matrícula</th>
                        <td>{{ matricula }}</td>
                    </tr>
                   
                </tbody>
            </table>    
            <h4>Servicios de mantenimiento realizados</h4>

            <div id="serviciosLista" class="mb-4">
                <ul id="serviciosLista" class="list-group mb-4">
                    {% for servicio in tareas_realizadas %}
                        <li class="list-group-item d-flex align-items-center flex-column" id="servicio-{{ servicio.id }}">
                            <div class="d-flex w-100 align-items-center">
                                <span class="flex-grow-1">{{ servicio.tarea }}</span>
                                <!-- Botón para eliminar el servicio -->
                                <button type="button" class="btn btn-sm btn-danger ms-2" onclick="confirmarEliminacion('{{ servicio.id }}')">❌</button>
                            </div>
                            <!-- Contenedor para el mensaje de confirmación -->
                            <div id="confirmacion-{{ servicio.id }}" class="mt-2 text-center text-danger d-none">
                                <p>¿Estás seguro de que deseas eliminar este servicio?</p>
                                    <a href="{% url 'BorrarServicio' servicio.id %}"><button class="btn btn-sm btn-danger">Confirmar</button></a>
                                    <!-- <button type="button" class="btn btn-sm btn-danger">Confirmar</button>  -->
                                    <button type="button" class="btn btn-sm btn-secondary" onclick="cancelarEliminacion('{{ servicio.id }}')">Cancelar</button>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item text-muted">Aún no hay tareas realizadas.</li>
                    {% endfor %}
                </ul>
            </div>
             
            <form action="{% url 'AgregarServicio' id_servicio %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <h4>Servicios de mantenimiento pendientes</h4>
            <div id="serviciosPendientes" class="mb-4">
                {% for servicio in tareas_pendientes %}
                    <label class="d-flex align-items-center mb-2">
                        <input type="checkbox" name="servicios_pendientes[]" value="{{ servicio.id }}" id="servicio6" class="me-2">
                        <span class="flex-grow-1">{{ servicio.tarea }}</span>
                    </label>
                {% empty %}
                    <li class="list-group-item text-muted">No existen tareas pendientes.</li>
                {% endfor %}
            </div>

            <div id="serviciosLista" class="mb-4">
                <div class="d-flex">
            
                    <button type="button" id="agregar-servicio" class="btn btn-primary" onclick="agregarServicio()">Agregar</button>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <br>
            <!-- <h4>Mecánicos asignados</h4> -->
            <h4 class="mb-3">🔧 Mecánicos Asignados</h4>
            <div id="serviciosLista" class="mb-4">
                    <!-- <ul class="list-group">
                        {% for mecanico in mecanicos %}
                            <li class="list-group-item d-flex align-items-center">
                                <input 
                                    type="checkbox" 
                                    class="form-check-input me-2"
                                    name="mecanicos_seleccionados"
                                    value="{{ mecanico.mecanico.id }}"
                                    checked
                                >
                                <span class="flex-grow-1">{{ mecanico.mecanico.nombre }} {{ mecanico.mecanico.apellido }}</span>
                            </li>
                        {% empty %}
                        <li class="list-group-item text-muted">No hay mecánicos asignados a este servicio.</li>
                        {% endfor %}
                    </ul> -->
                    
                    <ul id="serviciosLista" class="list-group mb-4">
                        {% for mecanico in mecanicos %}
                        <li class="list-group-item d-flex align-items-center flex-column" id="servicio-{{ servicio.id }}">
                            <div class="d-flex w-100 align-items-center">
                                <span class="flex-grow-1">{{ mecanico.mecanico.nombre }} {{ mecanico.mecanico.apellido }}</span>
                                {% if mostrar_boton %}
                                <button type="button" class="btn btn-sm btn-danger ms-2" onclick="confirmarEliminacionMecanico('{{ mecanico.mecanico.id }}')">❌</button>
                                {% endif %}
                            </div>
                            <!-- Contenedor para el mensaje de confirmación -->
                            <div id="confirmacionEliminarMecanico-{{ mecanico.mecanico.id }}" class="mt-2 text-center text-danger d-none">
                                <p>¿Estás seguro de que deseas desvincular este mecánico de este servicio?</p>
                                <a href="{% url 'BorrarMecanicoServicio' id_servicio mecanico.mecanico.id %}"><button class="btn btn-sm btn-danger">Confirmar</button></a>
                                <!-- <button type="button" class="btn btn-sm btn-danger">Confirmar</button>  -->
                                <button type="button" class="btn btn-sm btn-secondary" onclick="cancelarEliminacionMecanico('{{ mecanico.mecanico.id }}')">Cancelar</button>
                            </div>
                        </li>
                        {% empty %}
                            <li class="list-group-item text-muted">No existen mecánicos asignados a este servicio.</li>
                        {% endfor %}
                       
                    </ul>
                    
                </div>
                
                
            {% if mostrar_boton %}
            <form action="{% url 'AgregarMecanicoServicio' id_servicio %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
                <h4>Asignar más mecánicos al servicio</h4>
                <div id="serviciosLista" class="mb-4">
                    <ul class="list-group">
                        {% for mecanico in resto_mecanicos %}
                            <li class="list-group-item d-flex align-items-center">
                                {% if mostrar_boton %}
                                <input 
                                    type="checkbox" 
                                    class="form-check-input me-2"
                                    name="mecanicos_seleccionados[]"
                                    value="{{ mecanico.resto_mecanicos.id }}"
                                >
                                {% endif %}
                                <span class="flex-grow-1">{{ mecanico.resto_mecanicos.nombre }} {{ mecanico.resto_mecanicos.apellido }}</span>
                            </li>
                        {% empty %}
                            <li class="list-group-item text-muted">No existen más mecánicos ingresados en el sistema.</li>
                        {% endfor %}
                    </ul>
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            <br>
            {% endif %}

            <h4>Actuaciones y/o anotaciones</h4>
            <div id="serviciosLista" class="mb-4">
                <div class="d-flex">
            
                    <button type="button" id="agregar-servicio" class="btn btn-primary" onclick="agregarAnotacion()">Agregar</button>
                </div>
                <div id="form_anotacion" style="display: none;">
                    <form action="{% url 'AgregarAnotacionServicio' id_servicio %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
                        <label for="precio" class="form-label">Anotaciones</label>
                        <textarea class="form-control" name="anotaciones" id="descripcion" placeholder="Anotaciones" rows="3"></textarea>
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-secondary" onclick="cerrarAnotacion()">Cancelar</button>
                        <!-- <a href="" class="btn btn-secondary">Cancelar</a> -->
                    </form>
                </div>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>DETALLE</th>
                            <th>FECHA</th>
                            <th>MECANICO</th>
                        </tr>
                    </thead>
                    <tbody>
                {% if anotaciones %}
                    {% for anotacion in anotaciones %}
                        <tr>
                            <td>{{ anotacion.anotacion.anotaciones }}</td>
                            <td>{{ anotacion.anotacion.fecha }}</td>
                            <td>
                                {{ anotacion.mecanico.nombre }} {{ anotacion.mecanico.apellido }}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        Aún no hay anotaciones
                    </td>
                </tr>
                {% endif %}
                    </tbody>
                </table>
            </div>
            <form action="{% url 'ModificarServicio' id_servicio %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <h4>Información sobre el servicio</h4>
            <!-- {% url 'AgregarAnotacionServicio' id_servicio %} -->
                <div class="mb-3">
                    <!-- <label for="color" class="form-label">Tipo de servicio</label>
                    <input value="{{ info_servicio.titulo }}" type="text" class="form-control" name="tipo_servicio_modificar" id="color" placeholder="Ingrese el tipo de servicio" maxlength="20" required>
                     -->
                     <select class="form-control" name="titulo_servicio" id="tipo_moto">
                        <option value="Primer servicio de mantenimiento" {% if info_servicio.titulo == "Primer servicio de mantenimiento" %}selected{% endif %}>Primer servicio de mantenimiento</option>
                        <option value="Segundo servicio de mantenimiento" {% if info_servicio.titulo == "Segundo servicio de mantenimiento" %}selected{% endif %}>Segundo servicio de mantenimiento</option>
                        <option value="Tercer servicio de mantenimiento" {% if info_servicio.titulo == "Tercer servicio de mantenimiento" %}selected{% endif %}>Tercer servicio de mantenimiento</option>
                        <option value="Servicio de mantenimiento" {% if info_servicio.titulo == "Servicio de mantenimiento" %}selected{% endif %}>Servicio de mantenimiento</option>
                        <option value="Reparar motor" {% if info_servicio.titulo == "Reparar motor" %}selected{% endif %}>Reparar motor</option>
                        <option value="Repuestos varios" {% if info_servicio.titulo == "Repuestos varios" %}selected{% endif %}>Repuestos varios</option>
                        <option value="Cascos" {% if info_servicio.titulo == "Cascos" %}selected{% endif %}>Cascos</option>
                        <option value="Aceite" {% if info_servicio.titulo == "Aceite" %}selected{% endif %}>Aceite</option>
                        <option value="Reparación, desarme y arme" {% if info_servicio.titulo == "Reparación, desarme y arme" %}selected{% endif %}>Reparación, desarme y arme</option>
                        <option value="Por servicios de gomería" {% if info_servicio.titulo == "Por servicios de gomería" %}selected{% endif %}>Por servicios de gomería</option>
                        <option value="Cubiertas y cámara" {% if info_servicio.titulo == "Cubiertas y cámara" %}selected{% endif %}>Cubiertas y cámara</option>
                        <option value="Mano de obra por garantía" {% if info_servicio.titulo == "Mano de obra por garantía" %}selected{% endif %}>Mano de obra por garantía</option>
                        <option value="Armado de motos" {% if info_servicio.titulo == "Armado de motos" %}selected{% endif %}>Armado de motos</option>
                        <option value="Cupones pre-entrega" {% if info_servicio.titulo == "Cupones pre-entrega" %}selected{% endif %}>Cupones pre-entrega</option>
                        <option value="Reparación de moto" {% if info_servicio.titulo == "Reparación de moto" %}selected{% endif %}>Reparación de moto</option>
                        <option value="Soldaduras" {% if info_servicio.titulo == "Soldaduras" %}selected{% endif %}>Soldaduras</option>
                        <option value="Reparación de chasis" {% if info_servicio.titulo == "Reparación de chasis" %}selected{% endif %}>Reparación de chasis</option>
                        <option value="Reparación de suspensión" {% if info_servicio.titulo == "Reparación de suspensión" %}selected{% endif %}>Reparación de suspensión</option>
                        <option value="Indumentaria para motos" {% if info_servicio.titulo == "Indumentaria para motos" %}selected{% endif %}>Indumentaría para motos</option>
                        <option value="Otro" {% if info_servicio.titulo == "Otro" %}selected{% endif %}>Otro</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="precio" class="form-label">Prioridad</label>
                    <select class="form-control" name="prioridad">
                        <option value="Alta" {% if info_servicio.prioridad == "Alta" %}selected{% endif %}>Alta</option>
                        <option value="Media" {% if info_servicio.prioridad == "Media" %}selected{% endif %}>Media</option>
                        <option value="Baja" {% if info_servicio.prioridad == "Baja" %}selected{% endif %}>Baja</option>
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="precio" class="form-label">Fecha estimada</label>
                    <input value="{{ fecha_cierre }}" type="date" class="form-control" name="fecha_estimada" placeholder="Ingrese la fecha estimada de entrega de la moto" required>
                </div>
                
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'ServiciosEnGestion' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script>

    function agregarAnotacion(){

        var form_anotacion = document.getElementById("form_anotacion")
        form_anotacion.style.display = "block";
    }


    function cerrarAnotacion(){

        var form_anotacion = document.getElementById("form_anotacion")
        form_anotacion.style.display = "none";
    }
    function agregarServicio() {
    // Contenedor donde se añaden los servicios
    const serviciosLista = document.getElementById("serviciosPendientes");

    // Crear un nuevo contenedor para el servicio
    const nuevoServicio = document.createElement("div");
    nuevoServicio.classList.add("d-flex", "align-items-center", "mb-2");

    // Crear el checkbox
    const checkbox = document.createElement("input");
    checkbox.type = "checkbox";
    checkbox.name = "nuevos_servicios[]";
    checkbox.value = ""; // El valor se completará dinámicamente
    checkbox.classList.add("me-2");

    // Crear el texto editable para el nombre del servicio
    const span = document.createElement("span");
    span.classList.add("flex-grow-1");
    span.contentEditable = true;
    span.textContent = "Nuevo servicio";

    // Crear el campo de entrada para el precio
    // const inputPrecio = document.createElement("input");
    // inputPrecio.type = "number";
    // inputPrecio.name = ""; // El nombre se completará dinámicamente
    // inputPrecio.classList.add("form-control", "w-auto", "ms-2");
    // inputPrecio.placeholder = "Precio";
    // inputPrecio.min = 0;
    // inputPrecio.step = 0.01;

    // Agregar un evento para actualizar el valor y nombre del campo al editar el servicio
    span.addEventListener("input", () => {
        const textoServicio = span.textContent.trim().replaceAll(" ", " ");
        checkbox.value = textoServicio;
        // inputPrecio.name = `precio_${textoServicio}`;
    });

    // Añadir los elementos al contenedor del nuevo servicio
    nuevoServicio.appendChild(checkbox);
    nuevoServicio.appendChild(span);
    // nuevoServicio.appendChild(inputPrecio);

    // Añadir el nuevo servicio al formulario
    serviciosLista.appendChild(nuevoServicio);
}


function confirmarEliminacion(servicioId) {
    // Mostrar el mensaje de confirmación
    const confirmacion = document.getElementById(`confirmacion-${servicioId}`);
    confirmacion.classList.remove('d-none');
}

function cancelarEliminacion(servicioId) {
    // Ocultar el mensaje de confirmación
    const confirmacion = document.getElementById(`confirmacion-${servicioId}`);
    confirmacion.classList.add('d-none');
}


function confirmarEliminacionMecanico(mecanicoId) {
    // Mostrar el mensaje de confirmación
    const confirmacion = document.getElementById(`confirmacionEliminarMecanico-${mecanicoId}`);
    confirmacion.classList.remove('d-none');
}

function cancelarEliminacionMecanico(mecanicoId) {
    // Ocultar el mensaje de confirmación
    const confirmacion = document.getElementById(`confirmacionEliminarMecanico-${mecanicoId}`);
    confirmacion.classList.add('d-none');
}



</script>

{% endblock %}
