{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
<style>
    .descripcion-celda {
        max-width: 300px;
        white-space: normal;
        word-wrap: break-word;
        overflow-y: auto;
        max-height: 150px;
    }
    .imagen-accesorio {
        display: block;
        max-width: 300px;
        max-height: 200px;
        margin-bottom: 20px;
        border-radius: 8px;
        object-fit: cover;
    }
</style>

<div class="table-container" id="motoDetails">
    <h4>Detalles del {{ accesorio.tipo }}</h4>

    {% if accesorio.foto %}
        <div class="text-center">
            <img src="{{ accesorio.foto.url }}" alt="Foto del accesorio" class="imagen-accesorio">
        </div>
    {% else %}
        <div class="text-center mt-3">
            <div class="alert alert-warning" role="alert">
                Este accesorio no tiene una foto disponible.
            </div>
        </div>
    {% endif %}

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th scope="row">Tipo</th>
                <td>{{ accesorio.tipo }}</td>
            </tr>
            <tr>
                <th scope="row">Marca</th>
                <td>{{ accesorio.marca }}</td>
            </tr>
            <tr>
                <th scope="row">Modelo</th>
                <td>{{ accesorio.modelo }}</td>
            </tr>
          
            <tr>
                <th scope="row">Precio</th>
                <td>{% if accesorio.moneda_precio == "Pesos" %}
                     ${{ accesorio.precio }}
                     {% else %}
                    U$S{{ accesorio.precio }}
                     {% endif %}
                    
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{% url 'Accesorios' %}" class="btn btn-secondary">Volver</a>
</div>

{% endblock %}
