{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="table-container" id="inventarios">
    <div class="form-container" id="motoForm">
        <h4>Venta</h4>
        {% if messages %}
        <div class="messages">
            <div class="alert alert alert-success">{{ message }}</div>
        </div>
        {% endif %}
        {% if error_message_cliente %}
        <div class="alert alert-danger" role="alert">
            {{ error_message_cliente }} <a href="{% url 'ClienteAlta' %}">aquí</a>
        </div>
        {% endif %}
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        <!-- Formulario de búsqueda de cliente -->
        <form action="{% url 'ClienteAccesorioVenta' 1 0 %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Documento del cliente</label>
                <div class="input-group">
                    <select class="form-control" name="tipo_documento" id="tipo_documento">
                        <option value="CI">Cédula</option>
                        <option value="PAS">Pasaporte</option>
                        <option value="DNI">DNI</option>
                        <option value="RUT">RUT</option>
                    </select>
                    <span class="input-group-text">-</span>
                    <input type="text" class="form-control" name="documento" placeholder="Documento">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        {% if datos_accesorio %}
        
        <form action="{% url 'AccesorioVenta' cliente.id %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <h4>Datos del cliente</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Cliente</th>
                        <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Documento</th>
                        <td>{{ cliente.documento }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Contacto</th>
                        <td>{{ tel1 }}{% if tel2 %}, {{ tel2 }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Correo</th>
                        <td>{{ correo1 }}{% if correo2 %}, {{ correo2 }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Domicilio</th>
                        <td>{{ cliente.domicilio }}</td>
                    </tr>
                </tbody>
            </table>

            <h4>Datos del accesorio</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Talle</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>

                    {% for accesorios in accesorios %}
                    <!-- Filas de ejemplo de accesorios -->
                    <tr>
                        <td>{{ accesorios.accesorios.tipo }}</td>
                        <td>{{ accesorios.accesorios.marca }}</td>
                        <td>{{ accesorios.accesorios.modelo}}</td>
                        <td>{{ accesorios.accesorios.talle}}</td>
                        <td>{{ accesorios.precio}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


            <div class="mb-3">
                <label for="precio" class="form-label">Precio Total $</label>
                <input value="{{ precio_total_pesos|default:'0.00' }}" type="number" class="form-control" name="precio_total_pesos" readonly>
            </div> 

            <div class="mb-3">
                <label for="recargo" class="form-label">Precio Total U$s</label>
                <input value="{{ precio_total_dolares|default:'0.00' }}" type="number" class="form-control" name="precio_total_dolares" id="precio_sin_recargo" readonly>
            </div>

            <div class="mb-3">
                <label for="recargo" class="form-label">Precio en Pesos restante con fondos incluidos</label>
                <input value="{{ precio_restante_pesos }}" type="number" class="form-control" name="precio_sin_recargo" readonly>
            </div>

            <div class="mb-3">
                <label for="recargo" class="form-label">Precio en Dolares restante con fondos incluidos</label>
                <input value="{{ precio_restante_dolares }}" type="number" class="form-control" name="precio_sin_recargo" readonly>
            </div>

            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Moneda Venta</label>
                <div class="input-group">
                    <select class="form-control" name="moneda_venta" id="moneda_venta" onchange="toggleFields()">
                        <option value="Pesos">Pesos</option>
                        <option value="Dolares">Dólares</option>
                    </select>
                </div>
            </div>

            <div class="mb-3" id="cant_destinada_pesos">
                <label for="recargo" class="form-label">Cantidad destinada de los fondos en Pesos</label>
                <input value="{{ cantidad_destinada_pesos }}" type="number" class="form-control" id="txt_cant_destinada_pesos" name="cantidad_destinada_pesos" required>
            </div>

            <div class="mb-3" id="cant_destinada_dolares" style="display: none;">
                <label for="recargo" class="form-label">Cantidad destinada de los fondos en Dolares</label>
                <input value="{{ cantidad_destinada_dolares }}" type="number" class="form-control" id="txt_cant_destinada_dolares" name="cantidad_destinada_dolares" required>
            </div>
            

            <div class="mb-3">
                <input type="checkbox" id="sin_num_motor" name="incluir_fondos" class="form-check-input" checked>
                <label for="toggleMatr" class="form-check-label">Incluir los fondos en la compra</label>
            </div>

            <h4>Forma de pago</h4>
            <div class="mb-3">
                <label for="precio" class="form-label">Forma de pago</label>
                <textarea class="form-control" name="forma_pago" id="descripcion" placeholder="Detalle la forma de pago acordada con el cliente" rows="3"></textarea>
            </div> 

            
            
            <h4>Documentación</h4>
            <div class="mb-3" id="libreta_propiedad_div">
                <label for="libreta_propiedad" class="form-label">Factura</label>
                <input type="file" class="form-control" name="factura_accesorio" id="factura_accesorio">
            </div>
            
            <button type="submit" class="btn btn-success">Generar venta</button>
                <a href="{% url 'Accesorios' %}" class="btn btn-secondary">Cancelar</a>
        </form>
        
        {% endif %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script>
function generatePDF() {
    const { jsPDF } = window.jspdf;
    const doc = new jsPDF("p", "mm", "a4"); // Configuración para hoja A4

    const margin = 10; // Márgenes estándar
    const pageWidth = doc.internal.pageSize.width;
    const pageHeight = doc.internal.pageSize.height;
    let y = margin;

    // Obtener contenido del textarea principal
    const mainContent = document.getElementById("previewText").value;

    // Calcular tamaño dinámico del logo
    const logoWidth = pageWidth / 2; // Tamaño del logo como la mitad del ancho de la página
    const logoHeight = logoWidth * 0.4; // Proporción ajustada (relación de aspecto 5:2)
    const xCenter = (pageWidth - logoWidth) / 2; // Centrar horizontalmente

    // Agregar imagen centrada
    const logo = document.querySelector("img").src; // Asegúrate de que el logo esté cargado
    if (logo) {
        doc.addImage(logo, "JPEG", xCenter, y, logoWidth, logoHeight);
        y += logoHeight + 5; // Espacio después de la imagen
    }

    // Agregar título centrado
    doc.setFont("Arial", "bold");
    doc.setFontSize(14);
    doc.text("COMPROMISO DE COMPRAVENTA", pageWidth / 2, y, { align: "center" });
    y += 10;

    // Agregar contenido principal con formato ajustado
    doc.setFont("Arial", "normal");
    doc.setFontSize(10); // Tamaño del texto
    const lineHeight = 5; // Espaciado entre líneas

    // Ajustar el contenido al margen izquierdo
    mainContent.split("\n").forEach(line => {
        const splitText = doc.splitTextToSize(line, pageWidth - 2 * margin); // Ajustar texto al ancho de la página
        splitText.forEach(subLine => {
            if (y + lineHeight > pageHeight - margin) {
                doc.addPage();
                y = margin;
            }
            doc.text(margin, y, subLine); // Asegura que el texto comience desde el margen izquierdo
            y += lineHeight;
        });
    });

    // Guardar el PDF
    doc.save("compromiso_compra_venta.pdf");
}


function calcularCuotas() {
    // Obtener los valores de los campos
    const seña = parseFloat(document.getElementById("seña").value);
    const entregaInicial = parseFloat(document.getElementById("entrega_inicial").value);
    const cantidadCuotas = parseInt(document.getElementById("cant_cuotas").value);
    const precio = document.getElementById("precio_moto_label").innerText

    // Validar que todos los campos contengan valores numéricos y sean mayores que 0
    if (isNaN(seña) || isNaN(entregaInicial) || isNaN(cantidadCuotas) || cantidadCuotas <= 0) {
        alert("Por favor, ingrese valores válidos para todos los campos.");
        return;
    }

    // Calcular el valor de cada cuota
    const total = precio - seña - entregaInicial;
    const valorCuota = total / cantidadCuotas;

    // Mostrar el valor de cada cuota en el label correspondiente
    document.getElementById("valor_cuota").innerText = `$/U$S${valorCuota.toFixed(2)}`;
}

function toggleFields(){
    var moneda_venta = document.getElementById("moneda_venta").value;
    var cant_destinada_pesos = document.getElementById("cant_destinada_pesos");
    var cant_destinada_dolares = document.getElementById("cant_destinada_dolares");
    var txt_cant_destinada_pesos = document.getElementById("txt_cant_destinada_pesos");
    var txt_cant_destinada_dolares = document.getElementById("txt_cant_destinada_dolares");
    if (moneda_venta === "Pesos"){
        cant_destinada_pesos.style.display = "block";
        cant_destinada_dolares.style.display = "none";
        txt_cant_destinada_dolares.required = false;
        txt_cant_destinada_pesos.required = true;

    }else{
        cant_destinada_pesos.style.display = "none";
        cant_destinada_dolares.style.display = "block";
        txt_cant_destinada_pesos.required = false;
        txt_cant_destinada_dolares.required = true;
        
    }
}





</script>

{% endblock %}
