{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
<title>Motos</title>
<div class="table-container" id="inventarios">
    <h3>Motos</h3>
    <a href="{% url 'MotoAlta' %}" class="btn btn-primary mb-3">Alta de moto</a>
    <div class="mb-3">
        <label for="estado" class="form-label">Buscar por:</label>
        <select class="form-control" name="estado_moto" id="tipo_busqueda" onchange="tipo_busqueda()">
            <option value="marca">Marca</option>
            <option value="modelo">Modelo</option>
            <option value="marca_modelo">Marca y modelo</option>
            <option value="anio">Año</option>
            <option value="kms">Kilometros</option>
        </select>
    </div>
    <form action="" enctype="multipart/form-data" method="POST" id="busqueda_marca">{% csrf_token %}
        <div class="mb-3">
            <input type="text" name="marca" class="form-control" placeholder="Buscar por Marca">
        </div>
    </form>

    <form action="" enctype="multipart/form-data" method="POST" id="busqueda_modelo" style="display: none;">{% csrf_token %}
        <div class="mb-3">
            <input type="text" name="modelo" class="form-control" placeholder="Buscar por modelo">
        </div>
    </form>

    <form action="" enctype="multipart/form-data" method="POST" id="busqueda_marca_modelo" style="display: none;">{% csrf_token %}
        <div class="d-flex">
            <input type="text" class="form-control me-1" name="marca_modelo" id="marca_modelo" placeholder="Marca">
            <span class="mx-1">-</span>
            <input type="number" class="form-control ms-1" name="modelo_marca" id="modelo_marca" placeholder="Modelo">
        </div>
    </form>

    <form action="" enctype="multipart/form-data" method="POST" id="busqueda_anio" style="display: none;">{% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="anio" placeholder="Buscar por año">
        </div>
    </form>
    <form action="" enctype="multipart/form-data" method="POST" id="busqueda_kms" style="display: none;">{% csrf_token %}
        <div class="d-flex">
            <input type="number" class="form-control me-1" name="km_minimo" id="km_minimo" placeholder="Kilometraje minimo" >
            <span class="mx-1">-</span>
            <input type="number" class="form-control ms-1" name="km_maximo" id="km_maximo" placeholder="Kilometraje máximo">
        </div>
    </form>
    
    <table class="table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Motor (cc)</th>
                <th>Año</th>
                <th>Estado</th>
                <th>Kilómetros</th>
                <th>Color</th>
                <th>Precio (USD)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if page_obj %}
                {% for moto in page_obj %}
                <tr>
                    <td>{{ moto.marca }}</td>
                    <td>{{ moto.modelo }}</td>
                    <td>{{ moto.motor }}</td>
                    <td>{{ moto.anio }}</td>
                    <td>{{ moto.estado }}</td>
                    <td>{{ moto.kilometros }}</td>
                    <td>{{ moto.color }}</td>
                    <td>{{ moto.precio }}</td>
                    <td>
                        <a href="{% url 'MotoBaja' moto.id %}"><button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button></a>
                        <button class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-sm btn-info"><i class="fas fa-info-circle"></i></button>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de motos disponibles.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <!-- Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
<script>
    function tipo_busqueda() {
        var busqueda_tipo = document.getElementById("tipo_busqueda").value;
        var busqueda_marca = document.getElementById("busqueda_marca");
        var busqueda_modelo = document.getElementById("busqueda_modelo");
        var busqueda_marca_modelo = document.getElementById("busqueda_marca_modelo");
        var busqueda_anio = document.getElementById("busqueda_anio");
        var busqueda_kms = document.getElementById("busqueda_kms");
   
       

        if (busqueda_tipo === "marca") {
            busqueda_marca.style.display = "block";
            busqueda_modelo.style.display = "none";
            busqueda_marca_modelo.style.display = "none";
            busqueda_anio.style.display = "none";
            busqueda_kms.style.display = "none";
        }else{
            kms.style.display = "block";
           matr.style.display = "block";
        }
    }
</script>
{% endblock %}

