{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="table-container" id="inventarios">
    <div class="form-container" id="motoForm">
        <h4>Reserva</h4>
        {% if messages %}
        <div class="messages">
            <div class="alert alert alert-success">{{ message }}</div>
        </div>
        {% endif %}
        {% if error_message_cliente %}
        <div class="alert alert-danger" role="alert">
            {{ error_message_cliente }} <a href="{% url 'ClienteAlta' %}">aquí</a>
        </div>
        {% endif %}
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        <!-- Formulario de búsqueda de cliente -->
        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Documento del cliente</label>
                <div class="input-group">
                    <select class="form-control" name="tipo_documento" id="tipo_documento">
                        <option value="CI">Cédula</option>
                        <option value="PAS">Pasaporte</option>
                        <option value="DNI">DNI</option>
                        <option value="RUT">RUT</option>
                    </select>
                    <span class="input-group-text">-</span>
                    <input type="text" class="form-control" name="documento" placeholder="Documento">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        {% if datos_moto %}
        <form action="{% url 'MotoReserva' moto.id cliente.id %}" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <h4>Datos del cliente</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Cliente</th>
                        <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Documento</th>
                        <td>{{ cliente.documento }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Contacto</th>
                        <td>{{ tel1 }}{% if tel2 %}, {{ tel2 }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Correo</th>
                        <td>{{ correo1 }}{% if correo2 %}, {{ correo2 }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Domicilio</th>
                        <td>{{ cliente.domicilio }}</td>
                    </tr>
                </tbody>
            </table>

            <h4>Datos de la moto</h4>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Código</th>
                        <td>{{ moto.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Marca</th>
                        <td>{{ moto.marca }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Modelo</th>
                        <td>{{ moto.modelo }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Motor (cc)</th>
                        <td>{{ moto.motor }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Año</th>
                        <td>{{ moto.anio }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Precio</th>
                        <td>{% if moto.moneda == "Pesos" %}${{ moto.precio }} {% else %} U$s{{ moto.precio }} {% endif %}</td>
                    </tr>
                </tbody>
            </table>
    
            <!-- COMPROMISO COMPRA VENTA -->
            <h4>Reserva</h4>
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Moneda de la seña</label>
                <div class="input-group">
                    <select class="form-control" name="moneda_senia" id="moneda_entrega">
                        <option value="Pesos">Pesos</option>
                        <option value="Dolares">Dólares</option>
                    </select>
                </div>
            </div>
            <div class="mb-3" id="documento_cliente">
                <label for="documento" class="form-label">Forma de pago</label>
                <div class="input-group">
                    <select class="form-control" name="forma_pago_senia" id="forma_pago">
                        <option value="Efectivo">Efectivo</option>
                        <option value="Transferencia">Transferencia</option>
                        <option value="Tarjeta">Tarjeta</option>
                        <option value="Fondos">Fondos</option>
                        
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="seña" class="form-label">Monto</label>
                <input type="number" class="form-control" name="senia" id="seña" placeholder="Ingrese la seña" required>
            </div>
    
            <button type="submit" class="btn btn-success">Reservar</button>
                <a href="{% url 'Motos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
