{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<div class="table-container" id="inventarios">
    <h3>Motos</h3>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
  <!--  <div class="mb-3">
        <label for="estado" class="form-label">Buscar por:</label>
        <select class="form-control" name="estado_accesorio" id="tipo_busqueda" onchange="tipo_busqueda()">
            <option value="tipo">Tipo</option>
            <option value="marca_modelo">Marca y modelo</option>

        </select>
    </div>

     <form action="{% url 'BusquedaTipoAccesorio' %}" enctype="multipart/form-data" method="get" id="busqueda_tipo">{% csrf_token %}
        <div class="input-group mb-3">
            <select class="form-control" name="tipo_accesorio" id="tipo_accesorio">
                <option value="casco">Casco</option>
                <option value="otro">Otro</option>
            </select>
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            
            <a href="{% url 'Accesorios' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>        
        </div>
    </form>

    <form action="{% url 'BusquedaMarcaModeloAccesorio' %}" enctype="multipart/form-data" method="get" id="busqueda_marca_modelo" style="display: none;">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="marca_modelo" placeholder="Marca">
            <span class="input-group-text">-</span>
            <input type="text" class="form-control" name="modelo_marca" placeholder="Modelo">
            <button class="btn btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
            <a href="{% url 'Accesorios' %}" class="btn btn-secondary">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>
    </form> -->

    <table class="table">
        <thead>
            <tr>
                <th>Detalles</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if page_obj %}
                {% for moto in page_obj %}
            <!-- Filas de ejemplo de accesorios -->
            <tr>
                <td>{{ moto.moto.moto__marca }} {{ moto.moto.moto__modelo }}</td>
                <td>{{ moto.moto.fecha_compra|date:"d/m/Y"}}</td>
                <td>{{ moto.moto.cliente__nombre }} {{ moto.moto.cliente__apellido }}</td>
                <td>
                    <a href="{% url 'MotoVentaForm' moto.moto.moto__id %}"><button class="btn btn-sm btn-success"><i class="fas fa-dollar-sign"></i></button></a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="9" class="text-center text-muted">
                        No hay registros de reservas disponibles.
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

</div>
<script>
    function tipo_busqueda() {
        var busqueda_tipo = document.getElementById("tipo_busqueda").value;

        var busqueda_tipo_inp = document.getElementById("busqueda_tipo");
        var busqueda_marca_modelo = document.getElementById("busqueda_marca_modelo");
        
        busqueda_tipo_inp.style.display = busqueda_tipo === "tipo" ? "block" : "none";
        busqueda_marca_modelo.style.display = busqueda_tipo === "marca_modelo" ? "block" : "none";
    }
</script>
{% endblock %}