{% extends "perfil_administrativo/padre_perfil_administrativo.html" %}
{% load static %}

{% block contenidoQueCambia %}
<div class="table-container" id="inventarios">
    <div class="form-container" id="motoForm">
        <h3>Apertura de caja</h3>
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
            {{ error_message }}
            </div>
        {% endif %}
        <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
            <h5>Billetes</h5>
            <div class="mb-3">
                <label for="precio" class="form-label">Billetes de $2000</label>
                <input value="0" type="number" class="form-control" name="billetes_2000" id="precio" placeholder="Ingrese la cantidad de billetes de $2000" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Billetes de $1000</label>
                <input value="0" type="number" class="form-control" name="billetes_1000" id="precio" placeholder="Ingrese la cantidad de billetes de $1000" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Billetes de $500</label>
                <input value="0" type="number" class="form-control" name="billetes_500" id="precio" placeholder="Ingrese la cantidad de billetes de $500" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Billetes de $200</label>
                <input value="0" type="number" class="form-control" name="billetes_200" id="precio" placeholder="Ingrese la cantidad de billetes de $200" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Billetes de $100</label>
                <input value="0" type="number" class="form-control" name="billetes_100" id="precio" placeholder="Ingrese la cantidad de billetes de $100" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Billetes de $50</label>
                <input value="0" type="number" class="form-control" name="billetes_50" id="precio" placeholder="Ingrese la cantidad de billetes de $50" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Billetes de $20</label>
                <input value="0" type="number" class="form-control" name="billetes_20" id="precio" placeholder="Ingrese la cantidad de billetes de $20" required>
            </div>


            <h5>Monedas</h5>
            <div class="mb-3">
                <label for="precio" class="form-label">Monedas de $50</label>
                <input value="0" type="number" class="form-control" name="monedas_50" id="precio" placeholder="Ingrese la cantidad de monedas de $50" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Monedas de $10</label>
                <input value="0" type="number" class="form-control" name="monedas_10" id="precio" placeholder="Ingrese la cantidad de monedas de $10" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Monedas de $5</label>
                <input value="0" type="number" class="form-control" name="monedas_5" id="precio" placeholder="Ingrese la cantidad de monedas de $5" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Monedas de $2</label>
                <input value="0" type="number" class="form-control" name="monedas_2" id="precio" placeholder="Ingrese la cantidad de monedas de $2" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Monedas de $1</label>
                <input value="0" type="number" class="form-control" name="monedas_1" id="precio" placeholder="Ingrese la cantidad de monedas de $1" required>
            </div>
            
            
            
            <button type="submit" class="btn btn-success">Guardar</button>
            
            <a href="{% url 'Arqueos' %}" class="btn btn-secondary">Cancelar</a>
        </form>
       
    </div>
</div>
{% endblock %}